{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet"href="{% static 'styles.css' %}">
</head>
<body>
    <div class="toast-container" id="toast-container"></div>
    <div class="login-box">
        <h2>Login</h2>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token%}
            {{ form.username}}
            {{ form.password}}
            <a href="#" class="forgot">Forgot Password?</a>
            <button type="submit">Login</button>
            <p class="signup-text">
                Not a member? <a href="{% url 'register' %}" style="text-decoration:none;">Signup</a>
            </p>
        </form>
    </div>
    
<script>
    {% if messages %}
    {% for message in messages %}
    const toast = document.createElement('div');
    toast.className= 'toast toast-{{ message.tags}}';
    toast.textContent= "{{ message|escapejs}}";
    document.getElementById('toast-container').appendChild(toast);
    
    setTimeout(() =>{
        toast.classList.add('fade-out');
        setTimeout(() =>toast.remove(), 500); 
    }, 3000);
    {% endfor%}
    {% endif %}
</script>
</body>