{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratatouille</title>
    <link rel="stylesheet" href="{% static 'style01.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="{% static '/image/0000000.png' %}">   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Boldonse&family=Poetsen+One&display=swap" rel="stylesheet">
</head>
<body>

<header class="header">
    <div class="container">
      <div class="logo-container">
        <img src="{% static 'image/mouse.png' %}" alt="logo" class="logo-img" />
        <h1 class="title">Ratatouille</h1>
      </div>
      <nav class="nav">
                <a href="{% url 'pageone' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contact' %}">Contact</a>
            </nav>
    </div>
</header>
    
    <section class="recipes">
        <div class="container">
            <div class="recipe-card">
                <img src="{% static 'image/abalone_porridge.jpg' %}"alt="Delicious Dish" class="recipe-img" width="100%">
            </div>
                <div class="recipe-details">
                    <h3>鮑魚粥</h3>
                    <p class="text-alignn">一碗米粥的溫柔，盛著大海的鮮味與細火慢燉的療癒。</p>
                    <h4>食材:</h4>
                    <ul>
                        <li><span>去殼鮑魚肉 </span><span>200 克</span></li>
                        <li><span>中里肌肉 </span><span>200 克</span></li>
                        <li><span>白飯 </span><span>1.5 碗</span></li>
                        <li><span>青蔥</span><span>1/2 根</span></li>
                        <li><span>皮蛋 </span><span>1 顆</span></li>
                        <li><span>油蔥酥</span><span>1.5 大匙</span></li>
                        <li><span>白胡椒粉</span><span>1/3 小匙</span></li>
                        <li><span>鹽</span><span>1/3 小匙</span></li>
                        
                    <h4>料理步驟:</h4>
                    <ol class="recipe-steps">
                        <li>前一天先洗米用電鍋煮飯，放涼，冷凍冰一晚。</li>
                        <li>白飯加熱水加皮蛋（切塊）蓋鍋熬粥。</li>
                        <li>熬粥時間開始備料，豬肉片洗過順紋剪條，用醃料抓醃放10分鐘。</li>
                        <li>鮑魚清肉每顆洗淨備用。</li>
                        <li>青蔥洗淨剪末。</li>
                        <li>粥略滾時加（油蔥酥、白胡椒粉、鹽）調味。</li>
                        <li>粥滾起，把（肉條）加進鍋中，攪拌一下，煮至粥再次滾起。</li>
                        <li>把（鮑魚肉）加進鍋中，蓋鍋煮至粥再次滾起，熄火，完成啦。</li>
                        <li>偷吃步熬粥輕鬆自在又好吃</li>
                        <li>用皮蛋、油蔥酥熬粥底，簡單就有好味粥。</li>
                        <li>鮑魚肉很容易熟不用煮太久呦。</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    
<section class="carousel">
    <h2 class="section-title">為您推薦</h2>
    <div class="carousel-track">
        <a href="http://127.0.0.1:8000/recipe/ants-climbing-tree" class="card">
            <img src="{% static 'image/ants-climbing-tree.jpg' %}" alt="鮑魚粥">
            <h3>螞蟻上樹</h3>
            <p class="carousel-desc">簡單的食材，炒出噴香好味，滑溜溜地讓人筷子停不下來。</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/sweet-and-sour-pork" class="card">
            <img src="{% static 'image/sweet-and-sour-pork.jpg' %}" alt="Whole roasted chicken">
            <h3>蝦仁蛋羹</h3>
            <p class="carousel-desc">酸甜在心的台灣味-糖醋排骨</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/braised-pork-rice" class="card">
            <img src="{% static 'image/braised-pork-rice.jpg' %}" alt="Just a pigture">
            <h3>滷肉飯</h3>
            <p class="carousel-desc">細火慢燉的醬香，淋在熱飯上的不只是滷肉，而是思念的溫度。</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/minced-pork-noodles" class="card">
            <img src="{% static 'image/minced-pork-noodles.jpg' %}" alt="What do u mean">
            <h3>肉燥麵</h3>
            <p class="carousel-desc">酸香帶勁、暖心開胃，每一口都是韓式靈魂的熱辣擁抱。</p>
        </a>
    </div>
</section>

<footer>
    <div class="container">
        <div class="logo">Ratatouille</div>
        <div class="social-icons">
            <a href="https://www.facebook.com/nigelngcomedy" class="fa fa-facebook"></a>
            <a href="mailto:chinpin2004@gmail.com" class="fa fa-google"></a>
            <a href="https://www.instagram.com/mrnigelng/" class="fa fa-instagram"></a>
            <a href="https://www.youtube.com/@mrnigelng" class="fa fa-youtube"></a>
        </div>
        <div class="links">
                <a href="{% url 'pageone' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contact' %}">Contact</a>
            </div>
        <div class="copyright">
            &copy; Ratatouille 2025. All rights reserved.
        </div>
    </div>
</footer>

</body>
</html>