{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratatouille</title>
    <link rel="stylesheet" href="{% static 'style01.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="{% static '/image/0000000.png' %}">   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Boldonse&family=Poetsen+One&display=swap" rel="stylesheet">
</head>
<body>

<header class="header">
    <div class="container">
      <div class="logo-container">
        <img src="{% static 'image/mouse.png' %}" alt="logo" class="logo-img" />
        <h1 class="title">Ratatouille</h1>
      </div>
      <nav class="nav">
                <a href="{% url 'pageone' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contact' %}">Contact</a>
            </nav>
    </div>
</header>

    <section class="recipes">
        <div class="container">
            <div class="recipe-card">
                <img src="{% static 'image/ants-climbing-tree.jpg' %}"alt="Delicious Dish" class="recipe-img" width="100%">
            </div>
                <div class="recipe-details">
                    <h3>螞蟻上樹</h3>
                    <p class="text-alignn">簡單的食材，炒出噴香好味，滑溜溜地讓人筷子停不下來。</p>
                        
                    <h4>食材:</h4>
                    <ul>
                        <li><span>肉末</span><span>適量</span></li>
                        <li><span>粉絲 </span><span>1-2捆</span></li>
                        <li><span>蒜 </span><span>2-3顆</span></li>
                        <li><span>辣椒 </span><span>少許</span></li>
                        <li><span>豆瓣醬</span><span>1茶匙</span></li>
                        <li><span>米酒</span><span>1/4茶匙</span></li>
                        <li><span>醬油</span><span>1/4茶匙</span></li>
                        <li><span>水 </span><span>適量</span></li>
                        <li><span>鹽</span><span>適量</span></li>
                    <h4>料理步驟:</h4>
                    <ol class="recipe-steps">
                        <li>先將食材準備好 蒜切蒜末 蔥切蔥花(因個人不喜歡在這沒加哦)</li>
                        <li>煮一鍋水 水滾後粉絲煮15分鐘</li>
                        <li>放蒜末蔥花辣椒 炒香後加入肉末跟豆瓣醬拌炒後 再放入粉絲及醬料翻炒過程切斷粉絲即可</li>
                        <li>完成</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

       
<section class="carousel">
    <h2 class="section-title">為您推薦</h2>
    <div class="carousel-track">
        <a href="http://127.0.0.1:8000/recipe/Braised_Pork_Belly_with_Preserved_Mustard_Greens" class="card">
            <img src="{% static 'image/Braised_Pork_Belly_with_Preserved_Mustard_Greens.jpg' %}" alt="鮑魚粥">
            <h3>梅菜扣肉</h3>
            <p class="carousel-desc">五花肉軟嫩入味，搭配梅菜甘香，是經典客家風味代表。</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/Dongpo_pork" class="card">
            <img src="{% static 'image/Dongpo_pork.jpg' %}" alt="Whole roasted chicken">
            <h3>東坡肉</h3>
            <p class="carousel-desc"></p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/abalone_porridge" class="card">
            <img src="{% static 'image/abalone_porridge.jpg' %}" alt="Just a pigture">
            <h3>鮑魚粥</h3>
            <p class="carousel-desc">一碗米粥的溫柔，盛著大海的鮮味與細火慢燉的療癒。</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/Stir_fried_pork_with_green_pepper" class="card">
            <img src="{% static 'image/Stir_fried_pork_with_green_pepper.jpg' %}" alt="What do u mean">
            <h3>青椒炒肉絲</h3>
            <p class="carousel-desc">綠意與香氣在鍋中翻炒，炒出一盤日常裡最實在的溫柔。</p>
        </a>
    </div>
</section>

<footer>
    <div class="container">
        <div class="logo">Ratatouille</div>
        <div class="social-icons">
            <a href="https://www.facebook.com/nigelngcomedy" class="fa fa-facebook"></a>
            <a href="mailto:chinpin2004@gmail.com" class="fa fa-google"></a>
            <a href="https://www.instagram.com/mrnigelng/" class="fa fa-instagram"></a>
            <a href="https://www.youtube.com/@mrnigelng" class="fa fa-youtube"></a>
        </div>
        <div class="links">
                <a href="{% url 'pageone' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contact' %}">Contact</a>
            </div>
        <div class="copyright">
            &copy; Ratatouille 2025. All rights reserved.
        </div>
    </div>
</footer>

</body>
</html>