{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratatouille</title>
    <link rel="stylesheet" href="{% static 'style01.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="{% static '/image/0000000.png' %}">   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Boldonse&family=Poetsen+One&display=swap" rel="stylesheet">
</head>
<body>

<header class="header">
    <div class="container">
      <div class="logo-container">
        <img src="{% static 'image/mouse.png' %}" alt="logo" class="logo-img" />
        <h1 class="title">Ratatouille</h1>
      </div>
      <nav class="nav">
                <a href="{% url 'pageone' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contact' %}">Contact</a>
            </nav>
    </div>
</header>
    
    <section class="recipes">
        <div class="container">
            <div class="recipe-card">
                <img src="{% static 'image/Beef_stew_with_potatoes.jpg' %}"alt="Delicious Dish" class="recipe-img" width="100%">
            </div>
                <div class="recipe-details">
                    <h3>馬鈴薯燉牛肉</h3>
                    <p class="text-alignn">馬鈴薯燉到軟綿入口即化, 肉質鮮甜，非常下飯的一道菜。</p>
                    <h4>食材:</h4>
                    <ul>
                        <li><span>馬鈴薯</span><span>2~3顆</span></li>
                        <li><span>牛肉</span><span>100克</span></li>
                        <li><span>洋蔥 </span><span>1/2個</span></li>
                        <li><span>紅蘿蔔</span><span>1/2根</span></li>
                        <li><span>油</span><span>1大匙</span></li>
                        <li><span>細砂糖</span><span>1大匙</span></li>
                        <li><span>醬油</span><span>2大匙</span></li>
                        <li><span>鹽</span><span>少許</span></li>
                        <li><span>清酒</span><span>1大匙</span></li>
                        
                    <h4>料理步驟:</h4>
                    <ol class="recipe-steps">
                        <li>購買時選擇肥瘦相間的肥牛片。</li>
                        <li>馬鈴薯削皮，洗淨，切成大塊，放入水中浸泡後撈出，瀝乾水分。</li>
                        <li>紅蘿蔔和洋蔥分別去皮，洗淨，切成小塊。</li>
                        <li>鍋中放入油，加入牛肉片炒散至表面發白。</li>
                        <li>加入洋蔥塊, 馬鈴薯塊, 紅蘿蔔塊, 淋入清酒，加入少許開水煮沸。</li>
                        <li>加入細砂糖，煮約10分鐘。</li>
                        <li>加入醬油，續煮5分鐘至馬鈴薯軟綿。</li>
                        <li>裝盤即可。</li>

                    </ol>
                </div>
            </div>
        </div>
    </section>

        <!-- Recipe Carousel Section -->
<section class="carousel">
    <h2 class="section-title">為您推薦</h2>
    <div class="carousel-track">
        <a href="http://127.0.0.1:8000/recipe/beef-stir-fry" class="card">
            <img src="{% static 'image/beef-stir-fry.jpg' %}" alt="0">
            <h3>蔥爆牛肉</h3>
            <p class="carousel-desc">一入口就是爆炒的香氣撲鼻，嫩滑的牛肉吸附醬香，每一片都帶著濃郁的醬油與蠔油鹹香，還有蔥段炒出的自然甜味與微微辛辣。</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/Crispy_Fried_Pumpkin_Strips" class="card">
            <img src="{% static 'image/Crispy_Fried_Pumpkin_Strips.jpg' %}" alt="Whole roasted chicken">
            <h3>脆炒南瓜絲</h3>
            <p class="carousel-desc">製作簡單，營養豐富，味道鮮美。</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/stir-fried-pork-with-green-pepper" class="card">
            <img src="{% static 'image/Stir_fried_pork_with_green_pepper.jpg' %}" alt="Just a pigture">
            <h3>青椒炒肉絲</h3>
            <p class="carousel-desc">綠意與香氣在鍋中翻炒，炒出一盤日常裡最實在的溫柔。</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/Garlic_Squid" class="card">
            <img src="{% static 'image/Garlic_Squid.jpg' %}" alt="What do u mean">
            <h3>蒜蓉魷魚</h3>
            <p class="carousel-desc">好吃到光碟，嚼勁口感！</p>
        </a>
    </div>
</section>

<footer>
    <div class="container">
        <div class="logo">Ratatouille</div>
        <div class="social-icons">
            <a href="https://www.facebook.com/nigelngcomedy" class="fa fa-facebook"></a>
            <a href="mailto:chinpin2004@gmail.com" class="fa fa-google"></a>
            <a href="https://www.instagram.com/mrnigelng/" class="fa fa-instagram"></a>
            <a href="https://www.youtube.com/@mrnigelng" class="fa fa-youtube"></a>
        </div>
        <div class="links">
                <a href="{% url 'pageone' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contact' %}">Contact</a>
            </div>
        <div class="copyright">
            &copy; Ratatouille 2025. All rights reserved.
        </div>
    </div>
</footer>

</body>
</html>