{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratatouille</title>
    <link rel="stylesheet" href="{% static 'style01.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="{% static '/image/0000000.png' %}">   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Boldonse&family=Poetsen+One&display=swap" rel="stylesheet">
</head>
<body>

<header class="header">
    <div class="container">
      <div class="logo-container">
        <img src="{% static 'image/mouse.png' %}" alt="logo" class="logo-img" />
        <h1 class="title">Ratatouille</h1>
      </div>
      <nav class="nav">
                <a href="{% url 'pageone' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contact' %}">Contact</a>
            </nav>
    </div>
</header>

    <section class="recipes">
        <div class="container">
            <div class="recipe-card">
                <img src="{% static 'image/boiled-vegetables.jpg' %}"alt="Delicious Dish" class="recipe-img" width="100%" height="50%">
            </div>
                <div class="recipe-details">
                    <h3>蒜炒青菜</h3>
                    <p class="text-alignn">蒜香撲鼻、清脆爽口，簡單卻最耐吃的家常滋味。</p>
                        
                    <h4>食材:</h4>
                    <ul>
                        <li><span>菠菜</span><span>1把/7棵</span></li>
                        <li><span>蒜瓣</span><span>4瓣</span></li>
                        <li><span>鹽</span><span>1/3小匙</span></li>
                        <li><span>油</span><span>2小匙</span></li>
                    <h4>料理步驟:</h4>
                    <ol class="recipe-steps">
                        <li>關鍵一：梗葉熟成時間不同分開擺。菠菜一棵棵沖洗過再泡水換水洗淨，剪食指長段，梗跟葉分開放。蒜瓣洗過拍碎剝膜略切碎才好出味。</li>
                        <li>關鍵二：先炒梗，鍋小火加油先放蒜末爆香撒鹽，先放菜梗入鍋翻炒後蓋鍋蒸炒30秒。</li>
                        <li>關鍵三：菜葉入鍋後蓋鍋30秒後打開鍋蓋，翻炒一下菜梗，再把菜葉用雙手捧進鍋中，即蓋上鍋蓋蒸炒30秒，從透明鍋蓋會看到綠菜塔隨計時器時間慢慢塌很療癒。</li>
                        <li>30秒又到打開鍋蓋，用長竹筷從鍋底，大把夾菜幫菜翻身，菜葉很容易熟，菜葉都熟後熄火。</li>
                        <li>沒有過度烹煮的青菜，鮮脆有鍋氣好吃。</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

   
<section class="carousel">
    <h2 class="section-title">為您推薦</h2>
    <div class="carousel-track">
        <a href="http://127.0.0.1:8000/recipe/stir-fried-vegetables" class="card">
            <img src="{% static 'image/stir-fried-vegetables.jpg' %}" alt="鮑魚粥">
            <h3>炒高麗菜</h3>
            <p class="carousel-desc">火候拿捏剛好，清甜爽脆，是餐桌上永遠的白飯好朋友</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/Tomato_mackerel_vegetable_noodles" class="card">
            <img src="{% static 'image/Tomato_mackerel_vegetable_noodles.jpg' %}" alt="Whole roasted chicken">
            <h3>番茄鯖魚蔬菜麵</h3>
            <p class="carousel-desc">番茄酸甜、鯖魚鮮香，搭配豐富蔬菜，一碗吃得到營養與好味道。</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/water-spinach-with-shrimp-paste" class="card">
            <img src="{% static 'image/Water_spinach_with_shrimp_paste.jpg' %}" alt="Just a pigture">
            <h3>蝦醬空心菜</h3>
            <p class="carousel-desc"></p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/stir-fried-water-spinach-with-garlic" class="card">
            <img src="{% static 'image/fried_water_spinach_with_garlic.jpg' %}" alt="What do u mean">
            <h3>蒜炒空心菜</h3>
            <p class="carousel-desc"></p>
        </a>
    </div>
</section>

<footer>
    <div class="container">
        <div class="logo">Ratatouille</div>
        <div class="social-icons">
            <a href="https://www.facebook.com/nigelngcomedy" class="fa fa-facebook"></a>
            <a href="mailto:chinpin2004@gmail.com" class="fa fa-google"></a>
            <a href="https://www.instagram.com/mrnigelng/" class="fa fa-instagram"></a>
            <a href="https://www.youtube.com/@mrnigelng" class="fa fa-youtube"></a>
        </div>
        <div class="links">
                <a href="{% url 'pageone' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contact' %}">Contact</a>
            </div>
        <div class="copyright">
            &copy; Ratatouille 2025. All rights reserved.
        </div>
    </div>
</footer>

</body>
</html>