{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratatouille</title>
    <link rel="stylesheet" href="{% static 'style01.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="{% static 'recipe_img/0000000.png' %}">   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Boldonse&family=Poetsen+One&display=swap" rel="stylesheet">
</head>
<body>

<!-- Header Section -->
<header class="header">
    <div class="container">
        <div class="logo-container">
            <img src="{% static 'image/mouse.png' %}" alt="logo" class="logo-img"/>
            <h1 class="title">Ratatouille</h1>
        </div>
        <nav class="nav">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </nav>
        <div class="auth-buttons">
            <a href="#" class="btn login">Login</a>
            <a href="#" class="btn register">Sign in</a>
        </div>
    </div>
</header>
    
    <section class="recipes">
        <div class="container">
            <div class="recipe-card">
                <img src="{% static 'image/braised-pork-rice.jpg' %}"alt="Delicious Dish" class="recipe-img" width="100%">
            </div>
                <div class="recipe-details">
                    <h3>滷肉飯</h3>
                    <p class="text-alignn">細火慢燉的醬香，淋在熱飯上的不只是滷肉，而是思念的溫度。</p>
                    <h4>食材:</h4>
                    <ul>
                        <li><span>五花肉</span><span>1 條</span></li>
                        <li><span>醬油</span><span>60g</span></li>
                        <li><span>熱水 </span><span>150cc</span></li>
                        <li><span>五香粉及白胡椒粉</span><span>適量</span></li>
                        <li><span>洋蔥碎塊</span><span> 1/3顆</span></li>
                        <li><span>沙拉油 1大匙</span><span>1/4 茶匙</span></li>
                        <li><span>冰糖及鳥蛋 </span><span>適量</span></li>
                        
                    <h4>料理步驟:</h4>
                    <ol class="recipe-steps">
                        <li>先將五花肉切成長條狀。</li>
                        <li>鍋中熱油後倒入洋蔥碎塊炒香。</li>
                        <li>倒入豬五花肉炒至變色。</li>
                        <li>加入冰糖拌炒。</li>
                        <li>接著加入醬油翻炒，加入熱水、五香粉、白胡椒粉一起煮滾後加入鳥蛋，轉小火加蓋滷40分鐘、最後熄火悶20分鐘。</li>
                        <li>這道「手切滷肉飯」也太香了吧～</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

        <!-- Recipe Carousel Section -->
<section class="carousel">
    <h2 class="section-title">為您推薦</h2>
    <div class="carousel-track">
        <a href="{% url 'recipe_detail' slug='tomato-egg' %}" class="card">
            <img src="{% static 'recipe_img/番茄炒蛋.jpg' %}" alt="番茄炒蛋">
            <h3>番茄炒蛋</h3>
            <p class="carousel-desc">最近的牛番茄物美價廉，把經典的家常菜番茄炒蛋變成一餐。</p>
        </a>
        <a href="#" class="card">
            <img src="{% static 'recipe_img/pasta03.jpg' %}" alt="Whole roasted chicken">
            <h3>Whole roasted chicken with lemon and shallots</h3>
            <p class="carousel-desc">1h 55m</p>
        </a>
        <a href="#" class="card">
            <img src="{% static 'recipe_img/recipe3.jpg' %}" alt="Dim sim sausage rolls">
            <h3>Dim sim sausage rolls recipe</h3>
            <p class="carousel-desc">55m</p>
        </a>
        <a href="#" class="card">
            <img src="{% static 'recipe_img/recipe4.jpg' %}" alt="Lemon cream dessert">
            <h3>Lemon cream dessert</h3>
            <p class="carousel-desc">1h 15m</p>
        </a>
    </div>
</section>

<!-- Footer Section -->
<footer>
    <div class="container">
        <div class="logo">Ratatouille</div>
        <div class="social-icons">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-youtube"></a>
        </div>
        <div class="links">
            <a href="#home">Home</a>
            <a href="#about">About Us</a>
            <a href="#contact">Contact</a>
        </div>
        <div class="copyright">
            &copy; Ratatouille 2025. All rights reserved.
        </div>
    </div>
</footer>

</body>
</html>