{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratatouille</title>
    <link rel="stylesheet" href="{% static 'style01.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="{% static 'image/0000000.png' %}">   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Boldonse&family=Poetsen+One&display=swap" rel="stylesheet">
</head>
<body>

<!-- Header Section -->
<header class="header">
    <div class="container">
        <div class="logo-container">
            <img src="{% static 'image/mouse.png' %}" alt="logo" class="logo-img"/>
            <h1 class="title">Ratatouille</h1>
        </div>
        <nav class="nav">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </nav>
        <div class="auth-buttons">
            <a href="#" class="btn login">Login</a>
            <a href="#" class="btn register">Sign in</a>
        </div>
    </div>
</header>
    
    <section class="recipes">
        <div class="container">
            <div class="recipe-card">
                <img src="{% static 'image/Braised_Pork_Belly_with_Preserved_Mustard_Greens.jpg' %}"alt="Delicious Dish" class="recipe-img" width="100%">
            </div>
                <div class="recipe-details">
                    <h3>梅菜扣肉</h3>
                    <p class="text-alignn">五花肉軟嫩入味，搭配梅菜甘香，是經典客家風味代表。</p>
                    <h4>食材:</h4>
                    <ul>
                        <li><span>五花腩</span><span>400 克</span></li>
                        <li><span>梅菜</span><span>100克</span></li>
                        <li><span>八角 </span><span>1個</span></li>
                        <li><span>桂皮</span><span>2支</span></li>
                        <li><span>乾蔥 </span><span>10克</span></li>
                        <li><span>水 </span><span>1.5湯匙</span></li>
                        <li><span>五香粉 </span><span>1克</span></li>
                        <li><span>糖</span><span>1/2茶匙</span></li>
                        <li><span>鹽</span><span>3/4茶匙</span></li>
                        <li><span>李錦記舊庄特級蠔油 </span><span> 2 湯匙</span></li>
                        <li><span>李錦記特鮮生抽</span><span>1茶匙</span></li>
                        <li><span>李錦記特級老抽</span><span>1湯匙</span></li>
                        <li><span>李錦記柱侯醬</span><span>1.5茶匙</span></li>
                        <li><span>花雕酒</span><span>1克</span></li>
                        
                    <h4>料理步驟:</h4>
                    <ol class="recipe-steps">
                        <li>將梅菜浸水變軟，瀝乾後切碎，再沖洗去沙，將梅菜炒至乾身，加2湯匙糖拌勻，備用</li>
                        <li>將五花腩洗淨，煲一鍋熱水，加入2片薑及少許蔥，將五花腩煮至7~8成熟，取出瀝乾，放涼。</li>
                        <li>在五花腩背部刺上小孔，均勻抹上1湯匙生抽，放入熱鑊煎至每面金黃色，放涼切片。</li>
                        <li>除了玫瑰露外，將調味料拌勻，下油，炒香料頭，下五花腩及調味料，拌勻後加入玫瑰露，放碗備用。</li>
                        <li>原鑊將梅菜與醬料拌勻，備用。</li>
                        <li>將五花腩垂直放入碗上並鋪梅菜在面，再用保鮮紙包好。</li>
                        <li>放入蒸鍋，蒸1小時30分鐘，取出，倒扣，即成。</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

        <!-- Recipe Carousel Section -->
<section class="carousel">
    <h2 class="section-title">為您推薦</h2>
    <div class="carousel-track">
        <a href="{% url 'recipe_detail' slug='tomato-egg' %}" class="card">
            <img src="{% static 'recipe_img/番茄炒蛋.jpg' %}" alt="番茄炒蛋">
            <h3>番茄炒蛋</h3>
            <p class="carousel-desc">最近的牛番茄物美價廉，把經典的家常菜番茄炒蛋變成一餐。</p>
        </a>
        <a href="#" class="card">
            <img src="{% static 'recipe_img/pasta03.jpg' %}" alt="Whole roasted chicken">
            <h3>Whole roasted chicken with lemon and shallots</h3>
            <p class="carousel-desc">1h 55m</p>
        </a>
        <a href="#" class="card">
            <img src="{% static 'recipe_img/recipe3.jpg' %}" alt="Dim sim sausage rolls">
            <h3>Dim sim sausage rolls recipe</h3>
            <p class="carousel-desc">55m</p>
        </a>
        <a href="#" class="card">
            <img src="{% static 'recipe_img/recipe4.jpg' %}" alt="Lemon cream dessert">
            <h3>Lemon cream dessert</h3>
            <p class="carousel-desc">1h 15m</p>
        </a>
    </div>
</section>

<!-- Footer Section -->
<footer>
    <div class="container">
        <div class="logo">Ratatouille</div>
        <div class="social-icons">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-youtube"></a>
        </div>
        <div class="links">
            <a href="#home">Home</a>
            <a href="#about">About Us</a>
            <a href="#contact">Contact</a>
        </div>
        <div class="copyright">
            &copy; Ratatouille 2025. All rights reserved.
        </div>
    </div>
</footer>

</body>
</html>