{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratatouille</title>
    <link rel="stylesheet" href="{% static 'style01.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="{% static '/image/0000000.png' %}">   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Boldonse&family=Poetsen+One&display=swap" rel="stylesheet">
</head>
<body>

<header class="header">
    <div class="container">
      <div class="logo-container">
        <img src="{% static 'image/mouse.png' %}" alt="logo" class="logo-img" />
        <h1 class="title">Ratatouille</h1>
      </div>
      <nav class="nav">
                <a href="{% url 'pageone' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contact' %}">Contact</a>
            </nav>
    </div>
</header>
    
    <section class="recipes">
        <div class="container">
            <div class="recipe-card">
                <img src="{% static 'image/clam-soup.jpg' %}"alt="Delicious Dish" class="recipe-img" width="100%">
            </div>
                <div class="recipe-details">
                    <h3>薑絲蛤蜊湯</h3>
                    <p class="text-alignn">細火慢燉的醬香，淋在熱飯上的不只是滷肉，而是思念的溫度。</p>
                    <h4>食材:</h4>
                    <ul>
                        <li><span>蛤蜊</span><span>500克</span></li>
                        <li><span>薑絲</span><span>適量</span></li>
                        <li><span>蔥花 </span><span>一大匙</span></li>
                        <li><span>水</span><span>1000cc</span></li>
                        <li><span>米酒</span><span>一小匙</span></li>

                    <h4>料理步驟:</h4>
                    <ol class="recipe-steps">
                        <li>將水煮滾~放入薑絲煮約一分鐘</li>
                        <li>放入蛤蜊與一小匙米酒</li>
                        <li>煮至蛤蜊打開馬上關火並撒下蔥花拌勻~開口了就別ㄧ直過度的煮會老掉口感變差！我並無另外加鹽調味因為蛤蜊本身已帶些鹹味!湯已微鹹了~若需要加鹽可自行斟酌</li>
                        <li>煮好馬上新鮮上桌~熱熱享用</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

        <!-- Recipe Carousel Section -->
   
<section class="carousel">
    <h2 class="section-title">為您推薦</h2>
    <div class="carousel-track">
        <a href="http://127.0.0.1:8000/recipe/abalone-porridge" class="card">
            <img src="{% static 'image/abalone_porridge.jpg' %}" alt="鮑魚粥">
            <h3>鮑魚粥</h3>
            <p class="carousel-desc">一碗米粥的溫柔，盛著大海的鮮味與細火慢燉的療癒。</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/Crispy_Fried_Pumpkin_Strips" class="card">
            <img src="{% static 'image/Crispy_Fried_Pumpkin_Strips.jpg' %}" alt="Whole roasted chicken">
            <h3>脆炒南瓜絲</h3>
            <p class="carousel-desc">製作簡單，營養豐富，味道鮮美。</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/Cream_of_corn" class="card">
            <img src="{% static 'image/Cream_of_corn_soup.jpg' %}" alt="Just a pigture">
            <h3>玉米濃湯</h3>
            <p class="carousel-desc">玉米濃湯是常見的家常湯品，每個家庭都有自己的喜歡用料配比。</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/Garlic_Squid" class="card">
            <img src="{% static 'image/Garlic_Squid.jpg' %}" alt="What do u mean">
            <h3>蒜蓉魷魚</h3>
            <p class="carousel-desc">好吃到光碟，嚼勁口感！</p>
        </a>
    </div>
</section>

<footer>
    <div class="container">
        <div class="logo">Ratatouille</div>
        <div class="social-icons">
            <a href="https://www.facebook.com/nigelngcomedy" class="fa fa-facebook"></a>
            <a href="mailto:chinpin2004@gmail.com" class="fa fa-google"></a>
            <a href="https://www.instagram.com/mrnigelng/" class="fa fa-instagram"></a>
            <a href="https://www.youtube.com/@mrnigelng" class="fa fa-youtube"></a>
        </div>
        <div class="links">
                <a href="{% url 'pageone' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contact' %}">Contact</a>
            </div>
        <div class="copyright">
            &copy; Ratatouille 2025. All rights reserved.
        </div>
    </div>
</footer>

</body>
</html>