{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratatouille</title>
    <link rel="stylesheet" href="{% static 'style01.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="{% static '/image/0000000.png' %}">   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Boldonse&family=Poetsen+One&display=swap" rel="stylesheet">
</head>
<body>

<header class="header">
    <div class="container">
      <div class="logo-container">
        <img src="{% static 'image/mouse.png' %}" alt="logo" class="logo-img" />
        <h1 class="title">Ratatouille</h1>
      </div>
      <nav class="nav">
                <a href="{% url 'pageone' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contact' %}">Contact</a>
            </nav>
    </div>
</header>
    
    <section class="recipes">
        <div class="container">
            <div class="recipe-card">
                <img src="{% static 'image/Cream_of_corn_soup.jpg' %}"alt="Delicious Dish" class="recipe-img" width="100%">
            </div>
                <div class="recipe-details">
                    <h3>玉米濃湯</h3>
                    <p class="text-alignn">玉米濃湯是常見的家常湯品，每個家庭都有自己的喜歡用料配比。</p>
                    <h4>食材:</h4>
                    <ul>
                        <li><span>綠巨人天然特甜玉米粒</span><span>2 罐</span></li>
                        <li><span>雞蛋</span><span>3 顆</span></li>
                        <li><span>鹽</span><span>1/2 小匙</span></li>
                        <li><span>黑胡椒粒</span><span>1/2 小匙</span></li>
                        
                    <h4>料理步驟:</h4>
                    <ol class="recipe-steps">
                        <li>特甜玉米粒玉米味很天然，雞蛋洗淨備用。</li>
                        <li>把玉米粒倒進果汁機裡，用玉米粒的空罐加淨水1罐的份量，按下果汁機打成泥。</li>
                        <li>湯鍋1000cc淨水，把打碎的玉米泥倒進鍋中，小火煮至湯鍋滾起，加鹽提味。</li>
                        <li>湯鍋滾的狀態先熄火，再倒進打散的蛋液，趁熱用湯匙順時鐘攪拌，這樣的蛋很嫩。</li>
                        <li>吃的時候一喜好添加黑胡椒粒提香，冷冷的天簡單的暖胃湯品。是幸福。</li>
                        
                    </ol>
                </div>
            </div>
        </div>
    </section>

        <!-- Recipe Carousel Section -->
<section class="carousel">
    <h2 class="section-title">為您推薦</h2>
    <div class="carousel-track">
        <a href="http://127.0.0.1:8000/recipe/yuxiang-eggplant" class="card">
            <img src="{% static 'image/yuxiang-eggplant.jpg' %}" alt="魚香茄子">
            <h3>魚香茄子</h3>
            <p class="carousel-desc">酸甜鹹香層層交疊，茄子入味不油膩，每一口都勾魂。</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/corn-ham-scrambled-eggs" class="card">
            <img src="{% static 'image/Corn_ham_and_scrambled_eggs.jpg' %}" alt="Whole roasted chicken">
            <h3>玉米火腿炒蛋</h3>
            <p class="carousel-desc">很好吃</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/Korean_style_cold_seaweed_salad" class="card">
            <img src="{% static 'image/Korean_style_cold_seaweed_salad.jpg' %}" alt="Just a pigture">
            <h3>韓式涼拌海帶</h3>
            <p class="carousel-desc">涼拌海帶芽可是韓式小菜中不可或缺的一角喔</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/braised-eggplant" class="card">
            <img src="{% static 'image/eggplant.jpg' %}" alt="超好吃">
            <h3>紅燒茄子</h3>
            <p class="carousel-desc">超好吃</p>
        </a>
    </div>
</section>

<footer>
    <div class="container">
        <div class="logo">Ratatouille</div>
        <div class="social-icons">
            <a href="https://www.facebook.com/nigelngcomedy" class="fa fa-facebook"></a>
            <a href="mailto:chinpin2004@gmail.com" class="fa fa-google"></a>
            <a href="https://www.instagram.com/mrnigelng/" class="fa fa-instagram"></a>
            <a href="https://www.youtube.com/@mrnigelng" class="fa fa-youtube"></a>
        </div>
        <div class="links">
                <a href="{% url 'pageone' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contact' %}">Contact</a>
            </div>
        <div class="copyright">
            &copy; Ratatouille 2025. All rights reserved.
        </div>
    </div>
</footer>

</body>
</html>