{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratatouille</title>
    <link rel="stylesheet" href="{% static 'style01.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="{% static '/image/0000000.png' %}">   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Boldonse&family=Poetsen+One&display=swap" rel="stylesheet">
</head>
<body>

<header class="header">
    <div class="container">
      <div class="logo-container">
        <img src="{% static 'image/mouse.png' %}" alt="logo" class="logo-img" />
        <h1 class="title">Ratatouille</h1>
      </div>
      <nav class="nav">
                <a href="{% url 'pageone' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contact' %}">Contact</a>
            </nav>
    </div>
</header>
    
    <section class="recipes">
        <div class="container">
            <div class="recipe-card">
                <img src="{% static 'image/curry-chicken-rice.jpg' %}"alt="Delicious Dish" class="recipe-img" width="100%">
            </div>
                <div class="recipe-details">
                    <h3>咖哩雞肉飯</h3>
                    <p class="text-alignn">小孩喜歡吃咖哩雞肉飯</p>
                        
                    <h4>食材:</h4>
                    <ul>
                        <li><span>馬鈴薯</span><span>2顆</span></li>
                        <li><span>雞胸肉</span><span>2塊</span></li>
                        <li><span>蒜頭</span><span>4顆</span></li>
                        <li><span>紅蘿蔔</span><span>1根</span></li>
                        <li><span>洋蔥</span><span>1/2顆</span></li>
                        <li><span>白米飯</span><span>1大鍋</span></li>
                        <li><span>醬油</span><span>1匙</span></li>
                        <li><span>胡椒</span><span>酌量</span></li>
                        <li><span>米酒</span><span>適量</span></li>
                    <h4>料理步驟:</h4>
                    <ol class="recipe-steps">
                        <li>馬鈴薯、紅蘿蔔切塊，用電鍋蒸稍軟及熟</li>
                        <li>雞肉切塊醃約20分鐘,洋蔥切丁、蒜頭切小小丁</li>
                        <li>加入橄欖油，下洋蔥、蒜頭爆香</li>
                        <li>下雞肉炒至變白，加入約7碗水（依所煮量判斷），再加入蒸熟的馬鈴薯+蘿蔔，中小火煮沸</li>
                       </ol>
                </div>
            </div>
        </div>
    </section>

<!-- Recipe Carousel Section -->
<section class="carousel">
    <h2 class="section-title">為您推薦</h2>
    <div class="carousel-track">
        <a href="http://127.0.0.1:8000/recipe/sesame-chicken" class="card">
            <img src="{% static 'image/sesame-chicken.jpg' %}" alt="鮑魚粥">
            <h3>麻油雞</h3>
            <p class="carousel-desc">麻油雞容易做</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/three-cup-chicken" class="card">
            <img src="{% static 'image/three-cup-chicken.jpg' %}" alt="Whole roasted chicken">
            <h3>三杯雞</h3>
            <p class="carousel-desc">「三杯」 其實就是指麻油、醬油和米酒，也是指三種調味料以 1：1：1 的比例各 1 杯的意思！</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/kung-pao-chicken" class="card">
            <img src="{% static 'image/kung-pao-chicken.jpg' %}" alt="Just a pigture">
            <h3>宮保雞丁</h3>
            <p class="carousel-desc">舌尖上的鼓聲，一顆花生一口雞丁，熱辣中跳動著香氣與節奏。</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/Sichuan_Spicy_Sesame_Noodles" class="card">
            <img src="{% static 'image/Sichuan_Spicy_Sesame_Noodles.jpg' %}" alt="What do u mean">
            <h3>川味椒麻涼麵</h3>
            <p class="carousel-desc">麻得過癮、辣得帶勁，涼麵也能熱情如火</p>
        </a>
    </div>
</section>

<footer>
    <div class="container">
        <div class="logo">Ratatouille</div>
        <div class="social-icons">
            <a href="https://www.facebook.com/nigelngcomedy" class="fa fa-facebook"></a>
            <a href="mailto:chinpin2004@gmail.com" class="fa fa-google"></a>
            <a href="https://www.instagram.com/mrnigelng/" class="fa fa-instagram"></a>
            <a href="https://www.youtube.com/@mrnigelng" class="fa fa-youtube"></a>
        </div>
        <div class="links">
                <a href="{% url 'pageone' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contact' %}">Contact</a>
            </div>
        <div class="copyright">
            &copy; Ratatouille 2025. All rights reserved.
        </div>
    </div>
</footer>

</body>
</html>