{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratatouille</title>
    <link rel="stylesheet" href="{% static 'style01.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="{% static '/image/0000000.png' %}">   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Boldonse&family=Poetsen+One&display=swap" rel="stylesheet">
</head>
<body>

<header class="header">
    <div class="container">
      <div class="logo-container">
        <img src="{% static 'image/mouse.png' %}" alt="logo" class="logo-img" />
        <h1 class="title">Ratatouille</h1>
      </div>
      <nav class="nav">
                <a href="{% url 'pageone' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contact' %}">Contact</a>
            </nav>
    </div>
</header>
    
<section class="recipes">
    <div class="container">
        <div class="recipe-card">
            <img src="{% static 'image/eggplant.jpg' %}" alt="Delicious Dish" class="recipe-img" width="100%">
        </div>
        <div class="recipe-details">
            <h3>紅燒茄子</h3>
            <p class="text-alignn">超好吃</p>
            <h4>食材:</h4>
            <ul>
                <li><span>燒烤牛肉片</span><span>250 克</span></li>
                <li><span>醬油</span><span>1 大匙</span></li>
                <li><span>蠔油</span><span>1 大匙</span></li>
                <li><span>厚切蘑菇</span><span>200 克</span></li>
                <li><span>鮮味炒手</span><span>0.5 茶匙</span></li>
                <li><span>蒜頭</span><span>2 瓣</span></li>
                <li><span>蔥</span><span>5 根</span></li>
                <li><span>老抽</span><span>0.5 大匙</span></li>
                <li><span>鹽</span><span>0.5 大匙</span></li>
                <li><span>太白粉</span><span>1 大匙</span></li>
                <li><span>米酒</span><span>1 大匙</span></li>
            </ul>
            <h4>料理步驟:</h4>
            <ol class="recipe-steps">
                <li>牛肉片切片，切成小片，加入醬油，老抽，蠔油，鹽，鮮味炒手，太白粉，米酒，醃15分鐘。</li>
                <li>蔥，蒜切段備用。</li>
                <li>熱油鍋，放下蔥白，蒜瓣爆香。</li>
                <li>倒入醃好的牛肉片拌炒，炒至肉變色，最後放入蔥綠拌炒即完成。</li>
            </ol>
        </div>
    </div>
</section>

<!-- Recipe Carousel Section -->
<section class="carousel">
    <h2 class="section-title">為您推薦</h2>
    <div class="carousel-track">
        <a href="http://127.0.0.1:8000/recipe/yuxiang-eggplant" class="card">
            <img src="{% static 'image/yuxiang-eggplant.jpg' %}" alt="魚香茄子">
            <h3>魚香茄子</h3>
            <p class="carousel-desc">酸甜鹹香層層交疊，茄子入味不油膩，每一口都勾魂。</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/corn-ham-scrambled-eggs" class="card">
            <img src="{% static 'image/Corn_ham_and_scrambled_eggs.jpg' %}" alt="Whole roasted chicken">
            <h3>玉米火腿炒蛋</h3>
            <p class="carousel-desc">很好吃</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/Korean_style_cold_seaweed_salad" class="card">
            <img src="{% static 'image/Korean_style_cold_seaweed_salad.jpg' %}" alt="Just a pigture">
            <h3>韓式涼拌海帶</h3>
            <p class="carousel-desc">涼拌海帶芽可是韓式小菜中不可或缺的一角喔</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/Cream_of_corn_soup" class="card">
            <img src="{% static 'image/Cream_of_corn_soup.jpg' %}" alt="What do u mean">
            <h3>玉米濃湯</h3>
            <p class="carousel-desc">玉米濃湯是常見的家常湯品，每個家庭都有自己的喜歡用料配比。</p>
        </a>
    </div>
</section>

<footer>
    <div class="container">
        <div class="logo">Ratatouille</div>
        <div class="social-icons">
            <a href="https://www.facebook.com/nigelngcomedy" class="fa fa-facebook"></a>
            <a href="mailto:chinpin2004@gmail.com" class="fa fa-google"></a>
            <a href="https://www.instagram.com/mrnigelng/" class="fa fa-instagram"></a>
            <a href="https://www.youtube.com/@mrnigelng" class="fa fa-youtube"></a>
        </div>
        <div class="links">
                <a href="{% url 'pageone' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contact' %}">Contact</a>
            </div>
        <div class="copyright">
            &copy; Ratatouille 2025. All rights reserved.
        </div>
    </div>
</footer>

</body>
</html>