{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratatouille</title>
    <link rel="stylesheet" href="{% static 'style01.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="{% static 'recipe_img/0000000.png' %}">   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Boldonse&family=Poetsen+One&display=swap" rel="stylesheet">
</head>
<body>

<!-- Header Section -->
<header class="header">
    <div class="container">
        <div class="logo-container">
            <img src="{% static 'image/mouse.png' %}" alt="logo" class="logo-img"/>
            <h1 class="title">Ratatouille</h1>
        </div>
        <nav class="nav">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </nav>
        <div class="auth-buttons">
            <a href="#" class="btn login">Login</a>
            <a href="#" class="btn register">Sign in</a>
        </div>
    </div>
</header>

    <section class="recipes">
        <div class="container">
            <div class="recipe-card">
                <img src="{% static 'image/garlic-shrimp.jpg' %}"alt="Delicious Dish" class="recipe-img" width="100%">
            </div>
                <div class="recipe-details">
                    <h3>蒜蓉蝦</h3>
                    <p class="text-alignn">蒜香濃郁，蝦肉鮮甜彈口，經典人氣菜色</p>
                        
                    <h4>食材:</h4>
                    <ul>
                        <li><span>白蝦 </span><span>10隻</span></li>
                        <li><span>蒜頭 </span><span>4顆</span></li>
                        <li><span>青蔥</span><span>1支</span></li>
                        <li><span>寬粉 </span><span>約100公克</span></li>
                        <li><span>蠔油 </span><span>1大匙</span></li>
                        <li><span>米酒 </span><span>1大匙</span></li>
                        <li><span>白胡椒粉 </span><span>適量</span></li>
                        <li><span>水 .</span><span>100c.c</span></li>
                       
                    <h4>料理步驟:</h4>
                    <ol class="recipe-steps">
                        <li>將大蒜切蒜末，青蔥切末，一起放入碗中。</li>
                        <li>加入蠔油 1大匙、米酒 1大匙、白胡椒粉適量、水 100c.c.，全部混合調味均勻。接著準備蝦子。</li>
                        <li>蝦子部分，可將蝦頭尖刺與內臟部分直接修剪掉，這樣吃起來口感更好。</li>
                        <li>挑除沙筋後利用剪刀帶殼直接開背，建議開背深度可以深一點，這樣會比較入味喔。</li>
                        <li>擺盤部分，先將冬粉浸泡3~5分鐘回軟後，鋪在底部。再整齊的擺上蝦子。</li>
                        <li>將剛剛調製的蒜蓉醬平均的淋上蝦子，可以盡可能地把蔥蒜塞進蝦肉中，這樣味道更讚。</li>
                        <li>取大炒鍋，加入水先煮沸，再放入蝦子蒸煮。蒸煮過程一定要大火，蒸煮5分鐘即可開鍋取出。</li>
                        <li>起鍋就可以直接上桌享用啦！我的作法並沒有淋熱油。</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- Recipe Carousel Section -->
<section class="carousel">
    <h2 class="section-title">為您推薦</h2>
    <div class="carousel-track">
        <a href="{% url 'recipe_detail' slug='tomato-egg' %}" class="card">
            <img src="{% static 'recipe_img/番茄炒蛋.jpg' %}" alt="番茄炒蛋">
            <h3>番茄炒蛋</h3>
            <p class="carousel-desc">最近的牛番茄物美價廉，把經典的家常菜番茄炒蛋變成一餐。</p>
        </a>
        <a href="#" class="card">
            <img src="{% static 'recipe_img/pasta03.jpg' %}" alt="Whole roasted chicken">
            <h3>Whole roasted chicken with lemon and shallots</h3>
            <p class="carousel-desc">1h 55m</p>
        </a>
        <a href="#" class="card">
            <img src="{% static 'recipe_img/recipe3.jpg' %}" alt="Dim sim sausage rolls">
            <h3>Dim sim sausage rolls recipe</h3>
            <p class="carousel-desc">55m</p>
        </a>
        <a href="#" class="card">
            <img src="{% static 'recipe_img/recipe4.jpg' %}" alt="Lemon cream dessert">
            <h3>Lemon cream dessert</h3>
            <p class="carousel-desc">1h 15m</p>
        </a>
    </div>
</section>

<!-- Footer Section -->
<footer>
    <div class="container">
        <div class="logo">Ratatouille</div>
        <div class="social-icons">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-youtube"></a>
        </div>
        <div class="links">
            <a href="#home">Home</a>
            <a href="#about">About Us</a>
            <a href="#contact">Contact</a>
        </div>
        <div class="copyright">
            &copy; Ratatouille 2025. All rights reserved.
        </div>
    </div>
</footer>

</body>
</html>
