{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratatouille</title>
    <link rel="stylesheet" href="{% static 'style01.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="{% static '/image/0000000.png' %}">   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Boldonse&family=Poetsen+One&display=swap" rel="stylesheet">
</head>
<body>

<header class="header">
    <div class="container">
      <div class="logo-container">
        <img src="{% static 'image/mouse.png' %}" alt="logo" class="logo-img" />
        <h1 class="title">Ratatouille</h1>
      </div>
      <nav class="nav">
                <a href="{% url 'pageone' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contact' %}">Contact</a>
            </nav>
    </div>
</header>
    
    <section class="recipes">
        <div class="container">
            <div class="recipe-card">
                <img src="{% static 'image/Garlic_Squid.jpg' %}"alt="Delicious Dish" class="recipe-img" width="100%">
            </div>
                <div class="recipe-details">
                    <h3>蒜蓉魷魚</h3>
                    <p class="text-alignn">好吃到光碟，嚼勁口感！</p>
                    <h4>食材:</h4>
                    <ul>
                        <li><span>魷魚</span><span>1隻</span></li>
                        <li><span>大蒜</span><span>2個</span></li>
                        <li><span>薑片 </span><span>1個 </span></li>
                        <li><span>醬油</span><span>1大匙</span></li>
                        <li><span>蔥</span><span>1根</span></li>
                        <li><span>料酒</span><span>1匙</span></li>
                        <li><span>蠔油</span><span>1匙</span></li>
                        <li><span>糖</span><span>少許</span></li>
                        <li><span>胡椒粉</span><span>少許</span></li>
                        
                    <h4>料理步驟:</h4>
                    <ol class="recipe-steps">
                        <li>魷魚切成圈狀，放入開水中汆燙至捲曲，撈出瀝乾備用</li>
                        <li>大蒜、薑切末，蔥切蔥段</li>
                        <li>熱鍋涼油，放入蒜末、薑末煸炒出香味</li>
                        <li>加入蔥段繼續翻炒均勻</li>
                        <li>倒入魷魚圈，翻炒均勻</li>
                        <li>加入料酒、醬油、蠔油、糖、胡椒粉調味，翻炒均勻</li>
                        <li>微微收汁即可</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

        <!-- Recipe Carousel Section -->
<section class="carousel">
    <h2 class="section-title">為您推薦</h2>
    <div class="carousel-track">
        <a href="http://127.0.0.1:8000/recipe/Beef_stew_with_potatoes" class="card">
            <img src="{% static 'image/Beef_stew_with_potatoes.jpg' %}" alt="0">
            <h3>馬鈴薯燉牛肉</h3>
            <p class="carousel-desc">馬鈴薯燉到軟綿入口即化, 肉質鮮甜，非常下飯的一道菜。</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/Crispy_Fried_Pumpkin_Strips" class="card">
            <img src="{% static 'image/Crispy_Fried_Pumpkin_Strips.jpg' %}" alt="Whole roasted chicken">
            <h3>脆炒南瓜絲</h3>
            <p class="carousel-desc">製作簡單，營養豐富，味道鮮美。</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/stir-fried-pork-with-green-pepper" class="card">
            <img src="{% static 'image/Stir_fried_pork_with_green_pepper.jpg' %}" alt="Just a pigture">
            <h3>青椒炒肉絲</h3>
            <p class="carousel-desc">綠意與香氣在鍋中翻炒，炒出一盤日常裡最實在的溫柔。</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/Garlic_Squid" class="card">
            <img src="{% static 'image/Garlic_Squid.jpg' %}" alt="What do u mean">
            <h3>蒜蓉魷魚</h3>
            <p class="carousel-desc">好吃到光碟，嚼勁口感！</p>
        </a>
    </div>
</section>

<footer>
    <div class="container">
        <div class="logo">Ratatouille</div>
        <div class="social-icons">
            <a href="https://www.facebook.com/nigelngcomedy" class="fa fa-facebook"></a>
            <a href="mailto:chinpin2004@gmail.com" class="fa fa-google"></a>
            <a href="https://www.instagram.com/mrnigelng/" class="fa fa-instagram"></a>
            <a href="https://www.youtube.com/@mrnigelng" class="fa fa-youtube"></a>
        </div>
        <div class="links">
                <a href="{% url 'pageone' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contact' %}">Contact</a>
            </div>
        <div class="copyright">
            &copy; Ratatouille 2025. All rights reserved.
        </div>
    </div>
</footer>

</body>
</html>