{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratatouille</title>
    <link rel="stylesheet" href="{% static 'style01.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="{% static '/image/0000000.png' %}">   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Boldonse&family=Poetsen+One&display=swap" rel="stylesheet">
</head>
<body>

<header class="header">
    <div class="container">
      <div class="logo-container">
        <img src="{% static 'image/mouse.png' %}" alt="logo" class="logo-img" />
        <h1 class="title">Ratatouille</h1>
      </div>
      <nav class="nav">
                <a href="{% url 'pageone' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contact' %}">Contact</a>
            </nav>
    </div>
</header>
    
    <section class="recipes">
        <div class="container">
            <div class="recipe-card">
                <img src="{% static 'image/kimchi-stew.jpg' %}"alt="Delicious Dish" class="recipe-img" width="100%">
            </div>
                <div class="recipe-details">
                    <h3>韓式泡菜豆腐鍋</h3>
                    <p class="text-alignn">
                        酸香帶勁、暖心開胃，每一口都是韓式靈魂的熱辣擁抱。</p>
                    <h4>食材:</h4>
                    <ul>
                        <li><span>鱸魚</span><span>1 條</span></li>
                        <li><span>醬油</span><span>1 大匙</span></li>
                        <li><span>辣椒</span><span>1 條</span></li>
                        <li><span>蔥</span><span>2 支</span></li>
                        <li><span>糖</span><span>1/4 茶匙</span></li>
                        <li><span>水</span><span>1 大匙</span></li>
                        <li><span>鹽</span><span>1/4 茶匙</span></li>
                        
                    <h4>料理步驟:</h4>
                    <ol class="recipe-steps">
                        <li>將魚身洗淨擦乾（血水要用乾淨喔），撒上鹽（魚身2面各1小匙）放上蔥段、薑片，1大匙米酒醃10分鐘</li>
                        <li>先將醬汁備好，蔥絲、薑絲，辣椒絲備好
將魚放盤上（盤子下放2組筷子墊高魚身）入電鍋蒸6分鐘</li>
                        <li>蒸好6分鐘後，拿出來將魚汁倒掉，筷子抽出來，再將調好的醬汁倒入，在入電鍋蒸2分鐘後排上蔥絲、薑絲、辣椒絲後，就可以燒熱油（香油1大匙），在淋上去就完成了</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

        <!-- Recipe Carousel Section -->
<section class="carousel">
    <h2 class="section-title">為您推薦</h2>
    <div class="carousel-track">
        <a href="http://127.0.0.1:8000/recipe/yuxiang-eggplant" class="card">
            <img src="{% static 'image/yuxiang-eggplant.jpg' %}" alt="魚香茄子">
            <h3>魚香茄子</h3>
            <p class="carousel-desc">酸甜鹹香層層交疊，茄子入味不油膩，每一口都勾魂。</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/corn-ham-scrambled-eggs" class="card">
            <img src="{% static 'image/Corn_ham_and_scrambled_eggs.jpg' %}" alt="Whole roasted chicken">
            <h3>玉米火腿炒蛋</h3>
            <p class="carousel-desc">很好吃</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/Korean_style_cold_seaweed_salad" class="card">
            <img src="{% static 'image/Korean_style_cold_seaweed_salad.jpg' %}" alt="Just a pigture">
            <h3>韓式涼拌海帶</h3>
            <p class="carousel-desc">涼拌海帶芽可是韓式小菜中不可或缺的一角喔</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/braised-eggplant" class="card">
            <img src="{% static 'image/eggplant.jpg' %}" alt="超好吃">
            <h3>紅燒茄子</h3>
            <p class="carousel-desc">超好吃</p>
        </a>
    </div>
</section>

<footer>
    <div class="container">
        <div class="logo">Ratatouille</div>
        <div class="social-icons">
            <a href="https://www.facebook.com/nigelngcomedy" class="fa fa-facebook"></a>
            <a href="mailto:chinpin2004@gmail.com" class="fa fa-google"></a>
            <a href="https://www.instagram.com/mrnigelng/" class="fa fa-instagram"></a>
            <a href="https://www.youtube.com/@mrnigelng" class="fa fa-youtube"></a>
        </div>
        <div class="links">
                <a href="{% url 'pageone' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contact' %}">Contact</a>
            </div>
        <div class="copyright">
            &copy; Ratatouille 2025. All rights reserved.
        </div>
    </div>
</footer>

</body>
</html>