{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratatouille</title>
    <link rel="stylesheet" href="{% static 'style01.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="{% static '/image/0000000.png' %}">   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Boldonse&family=Poetsen+One&display=swap" rel="stylesheet">
</head>
<body>

<header class="header">
    <div class="container">
      <div class="logo-container">
        <img src="{% static 'image/mouse.png' %}" alt="logo" class="logo-img" />
        <h1 class="title">Ratatouille</h1>
      </div>
      <nav class="nav">
                <a href="{% url 'pageone' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contact' %}">Contact</a>
            </nav>
    </div>
</header>

    <section class="recipes">
        <div class="container">
            <div class="recipe-card">
                <img src="{% static 'image/kung-pao-chicken.jpg' %}"alt="Delicious Dish" class="recipe-img" width="100%">
            </div>
                <div class="recipe-details">
                    <h3>宮保雞丁</h3>
                    <p class="text-alignn">舌尖上的鼓聲，一顆花生一口雞丁，熱辣中跳動著香氣與節奏。</p>
                        
                    <h4>食材:</h4>
                    <ul>
                        <li><span>青蔥</span><span>5 根</span></li>
                        <li><span>蒜頭</span><span>5 瓣</span></li>
                        <li><span>雞蛋</span><span>1 顆</span></li>
                        <li><span>食用油</span><span>650 毫升</span></li>
                        <li><span>二荊條乾辣椒</span><span>40 公克</span></li>
                        <li><span>生薑</span><span>5-10 公克</span></li>
                        <li><span>去骨雞腿</span><span>2匙</span></li>
                        <li><span>雞高湯</span><span>1/4匙</span></li>
                        <li><span>碎花生</span><span>1-2 隻</span></li>
                        <li><span>醬油</span><span>適量</span></li>
                        <li><span>太白粉</span><span>30 毫升</span></li>
                        <li><span>砂糖</span><span>5 公克</span></li>
                        <li><span>番茄醬</span><span>10 公克</span></li>
                        <li><span>鹽</span><span>適量</span></li>
                    <h4>料理步驟:</h4>
                    <ol class="recipe-steps">
                        <li>花椒粒炒香，加入沙拉油(葵花油)小火煸至香味釋出，即成花椒油。</li>
                        <li>蒜頭與薑切成碎末，青蔥切段，雞蛋打散，抓取一些太白粉做芡水。</li>
                        <li>雞腿肉淺劃斷筋、切塊，加入鹽、雞蛋及太白粉抓麻。</li>
                        <li>用炒鍋起油鍋約160度，將雞肉炸熟、撈起，倒掉炸油。</li>
                        <li>炒鍋內加入少許花椒油，倒入乾辣椒炒出香味。再倒入蒜末、薑末、蔥段炒香。</li>
                        <li>再依序倒入蕃茄醬、醬油、米酒、水(高湯)、糖、老醋，每倒入一項，便微微輕拌讓味道融合。</li>
                        <li>再倒入雞肉及芡水勾芡，再淋上一些花椒油。</li>
                        <li>起鍋撒上蒜花生即完成。</li>
                        <li>如果雞腿肉很新鮮，便不需米酒及白胡椒醃漬。</li>
                        <li>雞腿肉淺劃，可幫助入味。</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- Recipe Carousel Section -->
<section class="carousel">
    <h2 class="section-title">為您推薦</h2>
    <div class="carousel-track">
        <a href="http://127.0.0.1:8000/recipe/sesame-chicken" class="card">
            <img src="{% static 'image/sesame-chicken.jpg' %}" alt="鮑魚粥">
            <h3>麻油雞</h3>
            <p class="carousel-desc">麻油雞容易做</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/three-cup-chicken" class="card">
            <img src="{% static 'image/three-cup-chicken.jpg' %}" alt="Whole roasted chicken">
            <h3>三杯雞</h3>
            <p class="carousel-desc">「三杯」 其實就是指麻油、醬油和米酒，也是指三種調味料以 1：1：1 的比例各 1 杯的意思！</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/curry" class="card">
            <img src="{% static 'image/curry-chicken-rice.jpg' %}" alt="鮑魚粥">
            <h3>咖哩雞肉飯</h3>
            <p class="carousel-desc">小孩喜歡吃咖哩雞肉飯</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/Sichuan_Spicy_Sesame_Noodles" class="card">
            <img src="{% static 'image/Sichuan_Spicy_Sesame_Noodles.jpg' %}" alt="What do u mean">
            <h3>川味椒麻涼麵</h3>
            <p class="carousel-desc">麻得過癮、辣得帶勁，涼麵也能熱情如火</p>
        </a>
    </div>
</section>

<footer>
    <div class="container">
        <div class="logo">Ratatouille</div>
        <div class="social-icons">
            <a href="https://www.facebook.com/nigelngcomedy" class="fa fa-facebook"></a>
            <a href="mailto:chinpin2004@gmail.com" class="fa fa-google"></a>
            <a href="https://www.instagram.com/mrnigelng/" class="fa fa-instagram"></a>
            <a href="https://www.youtube.com/@mrnigelng" class="fa fa-youtube"></a>
        </div>
        <div class="links">
                <a href="{% url 'pageone' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contact' %}">Contact</a>
            </div>
        <div class="copyright">
            &copy; Ratatouille 2025. All rights reserved.
        </div>
    </div>
</footer>

</body>
</html>