{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratatouille</title>
    <link rel="stylesheet" href="{% static 'style01.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="{% static '/image/0000000.png' %}">   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Boldonse&family=Poetsen+One&display=swap" rel="stylesheet">
</head>
<body>

<header class="header">
    <div class="container">
      <div class="logo-container">
        <img src="{% static 'image/mouse.png' %}" alt="logo" class="logo-img" />
        <h1 class="title">Ratatouille</h1>
      </div>
      <nav class="nav">
                <a href="{% url 'pageone' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contact' %}">Contact</a>
            </nav>
    </div>
</header>
    
    <section class="recipes">
        <div class="container">
            <div class="recipe-card">
                <img src="{% static 'image/Mashed_Potato_Egg_Salad.jpg' %}"alt="Delicious Dish" class="recipe-img" width="100%">
            </div>
                <div class="recipe-details">
                    <h3>薯泥蛋沙拉</h3>
                    <p class="text-alignn">綿密細緻馬鈴薯泥與彈嫩蛋碎，
搭配清脆多汁胡蘿蔔與小黃瓜，
以及小朋友最愛的香滑美乃滋，
蛋沙拉完成後夾入原味麥香減醣貝果，
為你翻轉原料成分，減醣30%但不減美味，
不用10分鐘，輕鬆完成飽足早午餐</p>
                    <h4>食材:</h4>
                    <ul>
                        <li><span>馬鈴薯</span><span>2顆</span></li>
                        <li><span>胡蘿蔔</span><span>1條</span></li>
                        <li><span>雞蛋 </span><span>4顆</span></li>
                        <li><span>小黃瓜</span><span>1條</span></li>
                        
                    <h4>料理步驟:</h4>
                    <ol class="recipe-steps">
                        <li>雞蛋冷水下鍋煮12分鐘關火，放涼後將雞蛋剝殼後對半切</li>
                        <li>小黃瓜切薄片，鹽巴抓醃靜置</li>
                        <li>馬鈴薯切小塊煮20分鐘、胡蘿蔔切小塊一起下去煮5分鐘，起鍋後把馬鈴薯及紅蘿蔔一起壓成碎塊</li>
                        <li>將蛋白與蛋黃切小塊後剁碎</li>
                        <li>再將蛋黃及蛋白加入馬鈴薯及胡蘿蔔中一起攪拌</li>
                        <li>將小黃瓜過水洗淨後 ，擰乾加入再一起攪拌</li>
                        <li>最後加入少許鹽、糖，加入沙拉醬一起攪拌均勻即可</li>
                        <li>香甜綿密沙拉，單獨吃或DIY料理都超美味！</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

        <!-- Recipe Carousel Section -->
<section class="carousel">
    <h2 class="section-title">為您推薦</h2>
    <div class="carousel-track">
        <a href="http://127.0.0.1:8000/recipe/Beef_stew_with_potatoes" class="card">
            <img src="{% static 'image/Beef_stew_with_potatoes.jpg' %}" alt="鮑魚粥">
            <h3>馬鈴薯燉牛肉</h3>
            <p class="carousel-desc">馬鈴薯燉到軟綿入口即化，肉質鮮甜，非常下飯的一道菜。</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/Wolf_Tooth_Potato" class="card">
            <img src="{% static 'image/Wolf_Tooth_Potato.jpg' %}" alt="Whole roasted chicken">
            <h3>狼牙土豆</h3>
            <p class="carousel-desc">火遍全中國的街邊小吃『狼牙土豆』，在家也能輕鬆復刻，娃娃們吃得滿嘴流油</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/Crispy_Fried_Pumpkin_Strips" class="card">
            <img src="{% static 'image/Crispy_Fried_Pumpkin_Strips.jpg' %}" alt="Whole roasted chicken">
            <h3>脆炒南瓜絲</h3>
            <p class="carousel-desc">製作簡單，營養豐富，味道鮮美。</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/Crispy_Fried_Pumpkin_Strips" class="card">
            <img src="{% static 'image/Crispy_Fried_Pumpkin_Strips.jpg' %}" alt="Whole roasted chicken">
            <h3>脆炒南瓜絲</h3>
            <p class="carousel-desc">製作簡單，營養豐富，味道鮮美。</p>
        </a>
    </div>
</section>

<footer>
    <div class="container">
        <div class="logo">Ratatouille</div>
        <div class="social-icons">
            <a href="https://www.facebook.com/nigelngcomedy" class="fa fa-facebook"></a>
            <a href="mailto:chinpin2004@gmail.com" class="fa fa-google"></a>
            <a href="https://www.instagram.com/mrnigelng/" class="fa fa-instagram"></a>
            <a href="https://www.youtube.com/@mrnigelng" class="fa fa-youtube"></a>
        </div>
        <div class="links">
                <a href="{% url 'pageone' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contact' %}">Contact</a>
            </div>
        <div class="copyright">
            &copy; Ratatouille 2025. All rights reserved.
        </div>
    </div>
</footer>

</body>
</html>