{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratatouille</title>
    <link rel="stylesheet" href="{% static 'style01.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="{% static '/image/0000000.png' %}">   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Boldonse&family=Poetsen+One&display=swap" rel="stylesheet">
</head>
<body>

<header class="header">
    <div class="container">
      <div class="logo-container">
        <img src="{% static 'image/mouse.png' %}" alt="logo" class="logo-img" />
        <h1 class="title">Ratatouille</h1>
      </div>
      <nav class="nav">
                <a href="{% url 'pageone' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contact' %}">Contact</a>
            </nav>
    </div>
</header>
    
    <section class="recipes">
        <div class="container">
            <div class="recipe-card">
                <img src="{% static 'image/minced-pork-noodles.jpg' %}"alt="Delicious Dish" class="recipe-img" width="100%">
            </div>
                <div class="recipe-details">
                    <h3>肉燥麵</h3>
                    <p class="text-alignn">酸香帶勁、暖心開胃，每一口都是韓式靈魂的熱辣擁抱。</p>
                    <h4>食材:</h4>
                    <ul>
                        <li><span>肉燥罐</span><span>2大匙</span></li>
                        <li><span>青蔥</span><span>3根</span></li>
                        <li><span>醬油  </span><span>3大匙</span></li>
                        <li><span>麻油</span><span>1大匙</span></li>
                        <li><span>白胡椒粉</span><span> 適量</span></li>
                        <li><span>麵線</span><span>適量</span></li>

                    <h4>料理步驟:</h4>
                    <ol class="recipe-steps">
                        <li>取一個可以拌麵條的小鍋，放入蔥花＆醬油＆麻油＆白胡椒粉拌勻</li>
                        <li>這瓶肉燥罐是在台中第二市場知名的嵐肉燥買的，他們家的飯也很好吃！</li>
                        <li>這罐可以拌燙青菜＆麵條＆白飯;煮鍋水燙麵線</li>
                        <li>小鍋加入肉燥！麵線燙好後加入拌勻即可！雞蛋悶10分鐘剛剛好，取出泡冷水剝殼！</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

        <!-- Recipe Carousel Section -->
<section class="carousel">
    <h2 class="section-title">為您推薦</h2>
    <div class="carousel-track">
        <a href="http://127.0.0.1:8000/recipe/Braised_Pork_Belly_with_Preserved_Mustard_Greens" class="card">
            <img src="{% static 'image/Braised_Pork_Belly_with_Preserved_Mustard_Greens.jpg' %}" alt="鮑魚粥">
            <h3>梅菜扣肉</h3>
            <p class="carousel-desc">五花肉軟嫩入味，搭配梅菜甘香，是經典客家風味代表。</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/Dongpo_pork" class="card">
            <img src="{% static 'image/Dongpo_pork.jpg' %}" alt="Whole roasted chicken">
            <h3>東坡肉</h3>
            <p class="carousel-desc"></p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/abalone_porridge" class="card">
            <img src="{% static 'image/abalone_porridge.jpg' %}" alt="Just a pigture">
            <h3>鮑魚粥</h3>
            <p class="carousel-desc">一碗米粥的溫柔，盛著大海的鮮味與細火慢燉的療癒。</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/Stir_fried_pork_with_green_pepper" class="card">
            <img src="{% static 'image/Stir_fried_pork_with_green_pepper.jpg' %}" alt="What do u mean">
            <h3>青椒炒肉絲</h3>
            <p class="carousel-desc">綠意與香氣在鍋中翻炒，炒出一盤日常裡最實在的溫柔。</p>
        </a>
    </div>
</section>

<footer>
    <div class="container">
        <div class="logo">Ratatouille</div>
        <div class="social-icons">
            <a href="https://www.facebook.com/nigelngcomedy" class="fa fa-facebook"></a>
            <a href="mailto:chinpin2004@gmail.com" class="fa fa-google"></a>
            <a href="https://www.instagram.com/mrnigelng/" class="fa fa-instagram"></a>
            <a href="https://www.youtube.com/@mrnigelng" class="fa fa-youtube"></a>
        </div>
        <div class="links">
                <a href="{% url 'pageone' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contact' %}">Contact</a>
            </div>
        <div class="copyright">
            &copy; Ratatouille 2025. All rights reserved.
        </div>
    </div>
</footer>

</body>
</html>