{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratatouille</title>
    <link rel="stylesheet" href="{% static 'style01.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="{% static '/image/0000000.png' %}">   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Boldonse&family=Poetsen+One&display=swap" rel="stylesheet">
</head>
<body>

<header class="header">
    <div class="container">
      <div class="logo-container">
        <img src="{% static 'image/mouse.png' %}" alt="logo" class="logo-img" />
        <h1 class="title">Ratatouille</h1>
      </div>
      <nav class="nav">
                <a href="{% url 'pageone' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contact' %}">Contact</a>
            </nav>
    </div>
</header>
    
    <section class="recipes">
        <div class="container">
            <div class="recipe-card">
                <img src="{% static 'image/Mushroom_clam_and_chicken_soup.jpg' %}"alt="Delicious Dish" class="recipe-img" width="100%">
            </div>
                <div class="recipe-details">
                    <h3>香菇蛤蜊鷄湯</h3>
                    <p class="text-alignn">采用高冷香菇，搭配蛤蜊的鮮甜再加上鷄肉的甜美，即是美味佳餚。</p>
                    <h4>食材:</h4>
                    <ul>
                        <li><span>鷄肉</span><span>300g</span></li>
                        <li><span>蛤蜊</span><span>十來個</span></li>
                        <li><span>蒜頭 </span><span>2-3瓣</span></li>
                        <li><span>乾香菇</span><span>2-3朵</span></li>
                        <li><span>枸杞</span><span>適量</span></li>
                        <li><span>米酒</span><span>適量</span></li>
                        <li><span>鹽</span><span>適量</span></li>
                        
                    <h4>料理步驟:</h4>
                    <ol class="recipe-steps">
                        <li>蛤蜊泡鹽水吐沙；蒜頭去膜。</li>
                        <li>乾香菇泡水泡軟後去蒂頭；香菇水保留。</li>
                        <li>煮一鍋滾水，放入雞肉燙去血水、取出洗淨瀝乾水份</li>
                        <li>取一湯鍋倒入適量冷水，放入雞肉、香菇、蒜頭、枸杞與香菇水，煮至沸騰後，改以小火燜煮約30~40分鐘。</li>
                        <li>轉中火加入蛤蜊、米酒，煮至蛤蜊開殼，加入鹽調味即完成了。</li>
                        <li>美味雞湯上桌囉！</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

        <!-- Recipe Carousel Section -->
<section class="carousel">
    <h2 class="section-title">為您推薦</h2>
    <div class="carousel-track">
        <a href="http://127.0.0.1:8000/recipe/ants-climbing-tree" class="card">
            <img src="{% static 'image/ants-climbing-tree.jpg' %}" alt="鮑魚粥">
            <h3>螞蟻上樹</h3>
            <p class="carousel-desc">簡單的食材，炒出噴香好味，滑溜溜地讓人筷子停不下來。</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/sweet-and-sour-pork" class="card">
            <img src="{% static 'image/sweet-and-sour-pork.jpg' %}" alt="Whole roasted chicken">
            <h3>蝦仁蛋羹</h3>
            <p class="carousel-desc">酸甜在心的台灣味-糖醋排骨</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/braised-pork-rice" class="card">
            <img src="{% static 'image/braised-pork-rice.jpg' %}" alt="Just a pigture">
            <h3>滷肉飯</h3>
            <p class="carousel-desc">細火慢燉的醬香，淋在熱飯上的不只是滷肉，而是思念的溫度。</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/minced-pork-noodles" class="card">
            <img src="{% static 'image/minced-pork-noodles.jpg' %}" alt="What do u mean">
            <h3>肉燥麵</h3>
            <p class="carousel-desc">酸香帶勁、暖心開胃，每一口都是韓式靈魂的熱辣擁抱。</p>
        </a>
    </div>
</section>

<footer>
    <div class="container">
        <div class="logo">Ratatouille</div>
        <div class="social-icons">
            <a href="https://www.facebook.com/nigelngcomedy" class="fa fa-facebook"></a>
            <a href="mailto:chinpin2004@gmail.com" class="fa fa-google"></a>
            <a href="https://www.instagram.com/mrnigelng/" class="fa fa-instagram"></a>
            <a href="https://www.youtube.com/@mrnigelng" class="fa fa-youtube"></a>
        </div>
        <div class="links">
                <a href="{% url 'pageone' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contact' %}">Contact</a>
            </div>
        <div class="copyright">
            &copy; Ratatouille 2025. All rights reserved.
        </div>
    </div>
</footer>

</body>
</html>