{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratatouille</title>
    <link rel="stylesheet" href="{% static 'style01.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="{% static '/image/0000000.png' %}">   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Boldonse&family=Poetsen+One&display=swap" rel="stylesheet">
</head>
<body>

<header class="header">
    <div class="container">
      <div class="logo-container">
        <img src="{% static 'image/mouse.png' %}" alt="logo" class="logo-img" />
        <h1 class="title">Ratatouille</h1>
      </div>
      <nav class="nav">
                <a href="{% url 'pageone' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contact' %}">Contact</a>
            </nav>
    </div>
</header>

<!-- Recipe Section -->
<section class="recipes">
    <div class="container">
        <div class="recipe-card">
            <img src="{% static './image/sesame-chicken.jpg' %}" alt="麻油雞成" class="recipe-img" width="100%">
        </div>
        <div class="recipe-details">
            <h3>麻油雞</h3>
            <p class="text-alignn"></p>
            <h4>食材:</h4>
            <ul>
                <li><span>土雞肉塊</span><span>1 盒</span></li>
                <li><span>老薑</span><span>1 塊</span></li>
                <li><span>黑麻油</span><span>2 大匙</span></li>
                <li><span>鹽</span><span>適量</span></li>
                <li><span>紅標料理米酒</span><span>1 瓶</span></li>
                <li><span>水</span><span>2 碗</span></li>
            </ul>
            <h4>料理步驟:</h4>
            <ol class="recipe-steps">
                <li>土雞肉塊洗淨拭乾，老薑切片　備用</li>
                <li>麻油煸香薑片，加入雞肉拌炒至無血水，倒入米酒和水煮滾</li>
                <li>放入電鍋，外鍋２杯水煮熟雞肉，跳起後加鹽調味即完成</li>
            </ol>
        </div>
    </div>
</section>

<!-- Recipe Carousel Section -->
<section class="carousel">
    <h2 class="section-title">為您推薦</h2>
    <div class="carousel-track">
        <a href="http://127.0.0.1:8000/recipe/curry" class="card">
            <img src="{% static 'image/curry-chicken-rice.jpg' %}" alt="鮑魚粥">
            <h3>咖哩雞肉飯</h3>
            <p class="carousel-desc">小孩喜歡吃咖哩雞肉飯</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/three-cup-chicken" class="card">
            <img src="{% static 'image/three-cup-chicken.jpg' %}" alt="Whole roasted chicken">
            <h3>三杯雞</h3>
            <p class="carousel-desc">「三杯」 其實就是指麻油、醬油和米酒，也是指三種調味料以 1：1：1 的比例各 1 杯的意思！</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/kung-pao-chicken" class="card">
            <img src="{% static 'image/kung-pao-chicken.jpg' %}" alt="Just a pigture">
            <h3>宮保雞丁</h3>
            <p class="carousel-desc">舌尖上的鼓聲，一顆花生一口雞丁，熱辣中跳動著香氣與節奏。</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/Sichuan_Spicy_Sesame_Noodles" class="card">
            <img src="{% static 'image/Sichuan_Spicy_Sesame_Noodles.jpg' %}" alt="What do u mean">
            <h3>川味椒麻涼麵</h3>
            <p class="carousel-desc">麻得過癮、辣得帶勁，涼麵也能熱情如火</p>
        </a>
    </div>
</section>

<footer>
    <div class="container">
        <div class="logo">Ratatouille</div>
        <div class="social-icons">
            <a href="https://www.facebook.com/nigelngcomedy" class="fa fa-facebook"></a>
            <a href="mailto:chinpin2004@gmail.com" class="fa fa-google"></a>
            <a href="https://www.instagram.com/mrnigelng/" class="fa fa-instagram"></a>
            <a href="https://www.youtube.com/@mrnigelng" class="fa fa-youtube"></a>
        </div>
        <div class="links">
                <a href="{% url 'pageone' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contact' %}">Contact</a>
            </div>
        <div class="copyright">
            &copy; Ratatouille 2025. All rights reserved.
        </div>
    </div>
</footer>

</body>
</html>