{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratatouille</title>
    <link rel="stylesheet" href="{% static 'style01.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="{% static '/image/0000000.png' %}">   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Boldonse&family=Poetsen+One&display=swap" rel="stylesheet">
</head>
<body>

<header class="header">
    <div class="container">
      <div class="logo-container">
        <img src="{% static 'image/mouse.png' %}" alt="logo" class="logo-img" />
        <h1 class="title">Ratatouille</h1>
      </div>
      <nav class="nav">
                <a href="{% url 'pageone' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contact' %}">Contact</a>
            </nav>
    </div>
</header>
    
    <section class="recipes">
        <div class="container">
            <div class="recipe-card">
                <img src="{% static 'image/Sichuan_Spicy_Sesame_Noodles.jpg' %}"alt="Delicious Dish" class="recipe-img" width="100%">
            </div>
                <div class="recipe-details">
                    <h3>川味椒麻涼麵</h3>
                    <p class="text-alignn">麻得過癮、辣得帶勁，涼麵也能熱情如火</p>
                    <h4>食材:</h4>
                    <ul>
                        <li><span>關廟麵</span><span>2 塊</span></li>
                        <li><span>小黃瓜</span><span>1 根</span></li>
                        <li><span>雞胸肉</span><span>半副</span></li>
                        <li><span>有機蛋 </span><span>2 顆</span></li>
                        <li><span>苦茶油 </span><span>2 顆</span></li>
                        <li><span>北港芝麻醬  </span><span>3 大匙</span></li>
                        <li><span>醬油</span><span>1.5 小匙</span></li>
                        <li><span>蒜末 </span><span>1/2 大匙</span></li>
                        <li><span>烏醋 </span><span>1/2 大匙</span></li>
                        <li><span>熱水(幫助攪拌用)</span><span>7 大匙</span></li>
                        
                    <h4>料理步驟:</h4>
                    <ol class="recipe-steps">
                        <li>雞胸肉洗過放在瓷碗裡，撒上鹽跟白胡椒粉正反兩面都抓醃過靜置3分鐘。</li>
                        <li>加米酒略淹過肉面即可(酒去腥提鮮保濕用)。</li>
                        <li>電鍋外鍋(電鍋附的米杯8分滿水量)蒸熟雞肉，電鍋跳起多汁鮮嫩的雞胸肉就好嚕。</li>
                        <li>雞肉蒸熟後取出放涼用萬能的雙手撕成雞絲狀。</li>
                        <li>取平底鍋中小火放（苦茶油），鍋熱放(蛋)蓋鍋煎1分鐘左右。</li>
                        <li>1分鐘後打開鍋蓋用炒匙將半熟蛋對折就變成了蛋包推到鍋邊繼續煎，再打另一顆蛋一樣蓋鍋煎1分鐘再開鍋蓋對折，對折第2顆蛋的時候可以盛出第1顆煎香的蛋包。</li>
                        <li>麻醬材料全部拌在一起拌勻</li>
                        <li>小黃瓜洗淨刨絲</li>
                        <li>湯鍋水滾煮麵條，麵條差不多是喜歡的口感時將煮麵水倒掉，留些水在鍋中這樣拌醬比較古溜。</li>
                        <li>將調好的拌麵醬料倒進麵條鍋中拌勻。</li>
                        <li>加上小黃瓜絲/蛋包及豪邁的嫩雞絲就有好吃的涼麵啦</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

        <!-- Recipe Carousel Section -->
<section class="carousel">
    <h2 class="section-title">為您推薦</h2>
    <div class="carousel-track">
        <a href="http://127.0.0.1:8000/recipe/sesame-chicken" class="card">
            <img src="{% static 'image/sesame-chicken.jpg' %}" alt="鮑魚粥">
            <h3>麻油雞</h3>
            <p class="carousel-desc">麻油雞容易做</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/three-cup-chicken" class="card">
            <img src="{% static 'image/three-cup-chicken.jpg' %}" alt="Whole roasted chicken">
            <h3>三杯雞</h3>
            <p class="carousel-desc">「三杯」 其實就是指麻油、醬油和米酒，也是指三種調味料以 1：1：1 的比例各 1 杯的意思！</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/curry" class="card">
            <img src="{% static 'image/curry-chicken-rice.jpg' %}" alt="鮑魚粥">
            <h3>咖哩雞肉飯</h3>
            <p class="carousel-desc">小孩喜歡吃咖哩雞肉飯</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/sesame-chicken" class="card">
            <img src="{% static 'image/sesame-chicken.jpg' %}" alt="鮑魚粥">
            <h3>麻油雞</h3>
            <p class="carousel-desc">麻油雞容易做</p>
        </a>
    </div>
</section>

<footer>
    <div class="container">
        <div class="logo">Ratatouille</div>
        <div class="social-icons">
            <a href="https://www.facebook.com/nigelngcomedy" class="fa fa-facebook"></a>
            <a href="mailto:chinpin2004@gmail.com" class="fa fa-google"></a>
            <a href="https://www.instagram.com/mrnigelng/" class="fa fa-instagram"></a>
            <a href="https://www.youtube.com/@mrnigelng" class="fa fa-youtube"></a>
        </div>
        <div class="links">
                <a href="{% url 'pageone' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contact' %}">Contact</a>
            </div>
        <div class="copyright">
            &copy; Ratatouille 2025. All rights reserved.
        </div>
    </div>
</footer>

</body>
</html>