{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratatouille</title>
    <link rel="stylesheet" href="{% static 'style01.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="{% static '/image/0000000.png' %}">   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Boldonse&family=Poetsen+One&display=swap" rel="stylesheet">
</head>
<body>

<header class="header">
    <div class="container">
      <div class="logo-container">
        <img src="{% static 'image/mouse.png' %}" alt="logo" class="logo-img" />
        <h1 class="title">Ratatouille</h1>
      </div>
      <nav class="nav">
                <a href="{% url 'pageone' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contact' %}">Contact</a>
            </nav>
    </div>
</header>

    <section class="recipes">
        <div class="container">
            <div class="recipe-card">
                <img src="{% static 'image/sweet-and-sour-pork.jpg' %}"alt="Delicious Dish" class="recipe-img" width="100%">
            </div>
                <div class="recipe-details">
                    <h3>蝦仁蛋羹</h3>
                    <p class="text-alignn">酸甜在心的台灣味-糖醋排骨</p>
                        
                    <h4>食材:</h4>
                    <ul>
                        <li><span>排骨 </span><span>400克</span></li>
                        <li><span>青椒 </span><span>1/2顆</span></li>
                        <li><span>太白粉</span><span>15克</span></li>
                        <li><span>烏醋 </span><span>10克</span></li>
                        <li><span>細砂糖 </span><span>5克</span></li>
                        <li><span>蒜末 </span><span>適量</span></li>
                        <li><span>鹽 </span><span>適量</span></li>
                        <li><span>番茄醬</span><span>45克</span></li>
                        <li><span>細砂糖 </span><span>5克</span></li>
                        <li><span>烏醋</span><span>10克</span></li>
                    <h4>料理步驟:</h4>
                    <ol class="recipe-steps">
                        <li>排骨洗淨後，以排骨醃料醃製30～60分鐘備用。</li>
                        <li>青椒切小塊備用。</li>
                        <li>蕃茄醬、砂糖、烏醋、鹽少許，再加上少許的水攪拌均勻做成糖醋醬汁。</li>
                        <li>醃好的排骨，均勻裹上太白粉之後，下鍋油炸；炸至金黃色時，將青椒入鍋拌炒。</li>
                        <li>倒入調配好的醬汁，均勻翻炒直到收汁後，起鍋盛盤。</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- Recipe Carousel Section -->
<section class="carousel">
    <h2 class="section-title">為您推薦</h2>
    <div class="carousel-track">
        <a href="http://127.0.0.1:8000/recipe/Braised_Pork_Belly_with_Preserved_Mustard_Greens" class="card">
            <img src="{% static 'image/Braised_Pork_Belly_with_Preserved_Mustard_Greens.jpg' %}" alt="鮑魚粥">
            <h3>梅菜扣肉</h3>
            <p class="carousel-desc">五花肉軟嫩入味，搭配梅菜甘香，是經典客家風味代表。</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/Dongpo_pork" class="card">
            <img src="{% static 'image/Dongpo_pork.jpg' %}" alt="Whole roasted chicken">
            <h3>東坡肉</h3>
            <p class="carousel-desc"></p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/abalone_porridge" class="card">
            <img src="{% static 'image/abalone_porridge.jpg' %}" alt="Just a pigture">
            <h3>鮑魚粥</h3>
            <p class="carousel-desc">一碗米粥的溫柔，盛著大海的鮮味與細火慢燉的療癒。</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/Stir_fried_pork_with_green_pepper" class="card">
            <img src="{% static 'image/Stir_fried_pork_with_green_pepper.jpg' %}" alt="What do u mean">
            <h3>青椒炒肉絲</h3>
            <p class="carousel-desc">綠意與香氣在鍋中翻炒，炒出一盤日常裡最實在的溫柔。</p>
        </a>
    </div>
</section>

<footer>
    <div class="container">
        <div class="logo">Ratatouille</div>
        <div class="social-icons">
            <a href="https://www.facebook.com/nigelngcomedy" class="fa fa-facebook"></a>
            <a href="mailto:chinpin2004@gmail.com" class="fa fa-google"></a>
            <a href="https://www.instagram.com/mrnigelng/" class="fa fa-instagram"></a>
            <a href="https://www.youtube.com/@mrnigelng" class="fa fa-youtube"></a>
        </div>
        <div class="links">
                <a href="{% url 'pageone' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contact' %}">Contact</a>
            </div>
        <div class="copyright">
            &copy; Ratatouille 2025. All rights reserved.
        </div>
    </div>
</footer>

</body>
</html>