{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratatouille</title>
    <link rel="stylesheet" href="{% static 'style01.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="{% static 'recipe_img/0000000.png' %}">    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Boldonse&family=Poetsen+One&display=swap" rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="container">
        <div class="logo-container">
            <img src="{% static 'image/mouse.png' %}" alt="logo" class="logo-img"/>
            <h1 class="title">Ratatouille</h1>
        </div>
        <nav class="nav">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </nav>
        <div class="auth-buttons">
            <a href="#" class="btn login">Login</a>
            <a href="#" class="btn register">Sign in</a>
        </div>
    </div>
</header>

<section class="recipes">
    <div class="container">
        <div class="recipe-card">
            <img src="{% static 'image/tomato-eggs.jpg' %}" alt="Delicious Dish" class="recipe-img" width="100%">
        </div>
        <div class="recipe-details">
            <h3>番茄炒蛋</h3>
            <p class="text-alignn">最近的牛番茄物美價廉，把經典的家常菜番茄炒蛋變成一餐。</p>
            <h4>食材:</h4>
            <ul>
                <li><span>雞蛋</span><span>3 顆</span></li>
                <li><span>番茄</span><span>5 顆</span></li>
                <li><span>蔥末</span><span>適量</span></li>
                <li><span>油</span><span>1 大匙</span></li>
                <li><span>鹽</span><span>適量</span></li>
                <li><span>糖</span><span>0.5 匙</span></li>
                <li><span>水</span><span>2 大匙</span></li>
                <li><span>薑末</span><span>1 匙</span></li>
            </ul>
            <h4>料理步驟:</h4>
            <ol class="recipe-steps">
                <li>牛番茄清洗乾淨後切塊，雞蛋打入碗中加入牛奶拌均勻</li>
                <li>鍋入油，倒入蛋液，用筷子翻炒半熟透盛出</li>
                <li>原鍋繼續加入蒜末、牛番茄塊翻炒一下，煮軟加入糖，蛋倒回鍋拌炒均勻加鹽調味，即可完成了</li>
            </ol>
        </div>
    </div>
</section>

<section class="carousel">
    <h2 class="section-title">為您推薦</h2>
    <div class="carousel-track">
        <a href="recipe01.html" class="card">
            <img src="{% static 'recipe_img/蔥爆牛肉01.png' %}" alt="Carrot French fries">
            <h3>蔥爆牛肉</h3>
            <p class="carousel-desc">一入口就是爆炒的香氣撲鼻，嫩滑的牛肉吸附醬香...</p>
        </a>
        <a href="recipe2.html" class="card">
            <img src="{% static 'recipe_img/pasta03.jpg' %}" alt="Whole roasted chicken">
            <h3>Whole roasted chicken with lemon and shallots</h3>
            <p class="carousel-desc">1h 55m</p>
        </a>
        <a href="recipe3.html" class="card">
            <img src="{% static 'recipe_img/recipe3.jpg' %}" alt="Dim sim sausage rolls">
            <h3>Dim sim sausage rolls recipe</h3>
            <p class="carousel-desc">55m</p>
        </a>
        <a href="recipe4.html" class="card">
            <img src="{% static 'recipe_img/recipe4.jpg' %}" alt="Lemon cream dessert">
            <h3>Lemon cream dessert</h3>
            <p class="carousel-desc">1h 15m</p>
        </a>
    </div>
</section>

<footer>
    <div class="container">
        <div class="logo">Ratatouille</div>
        <div class="social-icons">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-youtube"></a>
        </div>
        <div class="links">
            <a href="#home">Home</a>
            <a href="#about">About Us</a>
            <a href="#contact">Contact</a>
        </div>
        <div class="copyright">
            &copy; Ratatouille 2025. All rights reserved.
        </div>
    </div>
</footer>
</body>
</html>
