{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratatouille</title>
    <link rel="stylesheet" href="{% static 'style01.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="{% static '/image/0000000.png' %}">   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Boldonse&family=Poetsen+One&display=swap" rel="stylesheet">
</head>
<body>

<header class="header">
    <div class="container">
      <div class="logo-container">
        <img src="{% static 'image/mouse.png' %}" alt="logo" class="logo-img" />
        <h1 class="title">Ratatouille</h1>
      </div>
      <nav class="nav">
                <a href="{% url 'pageone' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contact' %}">Contact</a>
            </nav>
    </div>
</header>

<section class="recipes">
    <div class="container">
        <div class="recipe-card">
            <img src="{% static 'image/tomato-eggs.jpg' %}" alt="Delicious Dish" class="recipe-img" width="100%">
        </div>
        <div class="recipe-details">
            <h3>番茄炒蛋</h3>
            <p class="text-alignn">最近的牛番茄物美價廉，把經典的家常菜番茄炒蛋變成一餐。</p>
            <h4>食材:</h4>
            <ul>
                <li><span>雞蛋</span><span>3 顆</span></li>
                <li><span>番茄</span><span>5 顆</span></li>
                <li><span>蔥末</span><span>適量</span></li>
                <li><span>油</span><span>1 大匙</span></li>
                <li><span>鹽</span><span>適量</span></li>
                <li><span>糖</span><span>0.5 匙</span></li>
                <li><span>水</span><span>2 大匙</span></li>
                <li><span>薑末</span><span>1 匙</span></li>
            </ul>
            <h4>料理步驟:</h4>
            <ol class="recipe-steps">
                <li>牛番茄清洗乾淨後切塊，雞蛋打入碗中加入牛奶拌均勻</li>
                <li>鍋入油，倒入蛋液，用筷子翻炒半熟透盛出</li>
                <li>原鍋繼續加入蒜末、牛番茄塊翻炒一下，煮軟加入糖，蛋倒回鍋拌炒均勻加鹽調味，即可完成了</li>
            </ol>
        </div>
    </div>
</section>

<section class="carousel">
    <h2 class="section-title">為您推薦</h2>
    <div class="carousel-track">
        <a href="http://127.0.0.1:8000/recipe/stir-fried-vegetables" class="card">
            <img src="{% static 'image/stir-fried-vegetables.jpg' %}" alt="鮑魚粥">
            <h3>炒高麗菜</h3>
            <p class="carousel-desc">火候拿捏剛好，清甜爽脆，是餐桌上永遠的白飯好朋友</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/Tomato_mackerel_vegetable_noodles" class="card">
            <img src="{% static 'image/Tomato_mackerel_vegetable_noodles.jpg' %}" alt="Whole roasted chicken">
            <h3>番茄鯖魚蔬菜麵</h3>
            <p class="carousel-desc">番茄酸甜、鯖魚鮮香，搭配豐富蔬菜，一碗吃得到營養與好味道。</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/water-spinach-with-shrimp-paste" class="card">
            <img src="{% static 'image/Water_spinach_with_shrimp_paste.jpg' %}" alt="Just a pigture">
            <h3>蝦醬空心菜</h3>
            <p class="carousel-desc"></p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/boiled-vegetables" class="card">
            <img src="{% static 'image/boiled-vegetables.jpg' %}" alt="鮑魚粥">
            <h3>蒜炒青菜</h3>
            <p class="carousel-desc">蒜香撲鼻、清脆爽口，簡單卻最耐吃的家常滋味。</p>
        </a>
    </div>
</section>

<footer>
    <div class="container">
        <div class="logo">Ratatouille</div>
        <div class="social-icons">
            <a href="https://www.facebook.com/nigelngcomedy" class="fa fa-facebook"></a>
            <a href="mailto:chinpin2004@gmail.com" class="fa fa-google"></a>
            <a href="https://www.instagram.com/mrnigelng/" class="fa fa-instagram"></a>
            <a href="https://www.youtube.com/@mrnigelng" class="fa fa-youtube"></a>
        </div>
        <div class="links">
                <a href="{% url 'pageone' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contact' %}">Contact</a>
            </div>
        <div class="copyright">
            &copy; Ratatouille 2025. All rights reserved.
        </div>
    </div>
</footer>

</body>
</html>