{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratatouille</title>
    <link rel="stylesheet" href="{% static 'style01.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="{% static 'image/0000000.png' %}">   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Boldonse&family=Poetsen+One&display=swap" rel="stylesheet">
</head>
<body>

<!-- Header Section -->
<header class="header">
    <div class="container">
        <div class="logo-container">
            <img src="{% static 'image/mouse.png' %}" alt="logo" class="logo-img"/>
            <h1 class="title">Ratatouille</h1>
        </div>
        <nav class="nav">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </nav>
        <div class="auth-buttons">
            <a href="#" class="btn login">Login</a>
            <a href="#" class="btn register">Sign in</a>
        </div>
    </div>
</header>
    
    <section class="recipes">
        <div class="container">
            <div class="recipe-card">
                <img src="{% static 'image/Wolf_Tooth_Potato.jpg' %}"alt="Delicious Dish" class="recipe-img" width="100%">
            </div>
                <div class="recipe-details">
                    <h3>狼牙土豆</h3>
                    <p class="text-alignn">火遍全中國的街邊小吃『狼牙土豆』，在家也能輕鬆復刻，娃娃們吃得滿嘴流油!!</p>
                    <h4>食材:</h4>
                    <ul>
                        <li><span>馬鈴薯</span><span>1 大顆 / 320 克</span></li>
                        <li><span>熱油</span><span>3 大匙</span></li>
                        <li><span>蒜頭</span><span>1 大匙</span></li>
                        <li><span>青蔥•芫茜•小米辣</span><span>各 1 株</span></li>
                        <li><span>辣椒粉•孜然粉•白芝麻</span><span>各 1 大匙</span></li>
                        <li><span>花椒粉</span><span>½ 茶匙</span></li>
                        <li><span>十三香</span><span>¼ 茶匙</span></li>
                        <li><span>鹽•砂糖•味精</span><span>各 ¼ 茶匙</span></li>
                        <li><span>醬油•烏醋</span><span>1 茶匙</span></li>
                        
                    <h4>料理步驟:</h4>
                    <ol class="recipe-steps">
                        <li>土豆子去皮洗淨</li>
                        <li>用波浪刀切成稍薄的厚片</li>
                        <li>改刀切成土豆條，多淘洗幾遍至水清</li>
                        <li>加白醋浸泡10分鐘，擦乾水分</li>
                        <li>盆中加入蔥蒜辣椒末、辣椒麵、花椒麵、十三香、孜然粉、白芝麻</li>
                        <li>把油燒至冒大煙，往料頭上一潑</li>
                        <li>調入醬醋鹽糖味精，攪拌均勻</li>
                        <li>油鍋燒熱，土豆條下鍋會立刻飄起、冒大泡就可以了</li>
                        <li>分次下鍋，大火炸3~5分鐘</li>
                        <li>炸至土豆條帶點鵝黃色、外殼發硬就出鍋</li>
                        <li>喜歡吃香菜的多加點</li>
                        <li></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

        <!-- Recipe Carousel Section -->
<section class="carousel">
    <h2 class="section-title">為您推薦</h2>
    <div class="carousel-track">
        <a href="{% url 'recipe_detail' slug='tomato-egg' %}" class="card">
            <img src="{% static 'recipe_img/番茄炒蛋.jpg' %}" alt="番茄炒蛋">
            <h3>番茄炒蛋</h3>
            <p class="carousel-desc">最近的牛番茄物美價廉，把經典的家常菜番茄炒蛋變成一餐。</p>
        </a>
        <a href="#" class="card">
            <img src="{% static 'recipe_img/pasta03.jpg' %}" alt="Whole roasted chicken">
            <h3>Whole roasted chicken with lemon and shallots</h3>
            <p class="carousel-desc">1h 55m</p>
        </a>
        <a href="#" class="card">
            <img src="{% static 'recipe_img/recipe3.jpg' %}" alt="Dim sim sausage rolls">
            <h3>Dim sim sausage rolls recipe</h3>
            <p class="carousel-desc">55m</p>
        </a>
        <a href="#" class="card">
            <img src="{% static 'recipe_img/recipe4.jpg' %}" alt="Lemon cream dessert">
            <h3>Lemon cream dessert</h3>
            <p class="carousel-desc">1h 15m</p>
        </a>
    </div>
</section>

<!-- Footer Section -->
<footer>
    <div class="container">
        <div class="logo">Ratatouille</div>
        <div class="social-icons">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-youtube"></a>
        </div>
        <div class="links">
            <a href="#home">Home</a>
            <a href="#about">About Us</a>
            <a href="#contact">Contact</a>
        </div>
        <div class="copyright">
            &copy; Ratatouille 2025. All rights reserved.
        </div>
    </div>
</footer>

</body>
</html>