{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratatouille</title>
    <link rel="stylesheet" href="{% static 'style01.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="{% static '/image/0000000.png' %}">   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Boldonse&family=Poetsen+One&display=swap" rel="stylesheet">
</head>
<body>

<header class="header">
    <div class="container">
      <div class="logo-container">
        <img src="{% static 'image/mouse.png' %}" alt="logo" class="logo-img" />
        <h1 class="title">Ratatouille</h1>
      </div>
      <nav class="nav">
                <a href="{% url 'pageone' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contact' %}">Contact</a>
            </nav>
    </div>
</header>

    <section class="recipes">
        <div class="container">
            <div class="recipe-card">
                <img src="{% static 'image/yuxiang-eggplant.jpg' %}"alt="Delicious Dish" class="recipe-img" width="100%">
            </div>
                <div class="recipe-details">
                    <h3>魚香茄子</h3>
                    <p class="text-alignn">酸甜鹹香層層交疊，茄子入味不油膩，每一口都勾魂。</p>
                        
                    <h4>食材:</h4>
                    <ul>
                        <li><span>茄子</span><span> 3條</span></li>
                        <li><span>豬絞肉 </span><span>120克</span></li>
                        <li><span>蒜頭 </span><span>2瓣</span></li>
                        <li><span>青辣椒 </span><span>1根</span></li>
                        <li><span>薑</span><span>2片</span></li>
                        <li><span>蔥</span><span>1段</span></li>
                        <li><span>紅辣椒 </span><span>1根</span></li>
                        <li><span>辣豆瓣醬 </span><span>2茶匙</span></li>
                        <li><span>水 </span><span>5湯匙</span></li>
                        <li><span>蔬果白醋 </span><span>3湯匙</span></li>
                        <li><span>醬油 </span><span>3湯匙</span></li>
                    <h4>料理步驟:</h4>
                    <ol class="recipe-steps">
                        <li>茄子洗凈，絞肉選粗絞肉，蔥綠切段，青、紅辣椒去籽切細絲，蒜頭和薑切末，蔥白切蔥花；茄子去頭尾，切段後直向對切，再分切成3～4長條狀；然後用約4茶匙的鹽抓勻，醃10分鐘，讓茄子出水變軟；</li>
                        <li>茄子殺青的時間，可依調味料食材先調好醬汁，或者可以用漢子的百搭醬汁(不要放芝麻)三湯匙，加點水和太白粉拌勻，ㄧ樣好吃。</li>
                        <li>鍋燒熱放油，下絞肉炒至變白；下辣豆瓣醬；下蔥白、蒜末、薑末；</li>
                        <li>炒勻；下茄子拌炒；炒勻；</li>
                        <li>下醬汁再次炒勻，可酌量加半杯水；蓋鍋蓋小火燜煮5分鐘；</li>
                        <li>開蓋轉中火略收汁，試味道微調；下青、紅椒絲和蔥段，快炒均勻即可。</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- Recipe Carousel Section -->
<section class="carousel">
    <h2 class="section-title">為您推薦</h2>
    <div class="carousel-track">
        <a href="http://127.0.0.1:8000/recipe/braised-eggplant" class="card">
            <img src="{% static 'image/eggplant.jpg' %}" alt="超好吃">
            <h3>紅燒茄子</h3>
            <p class="carousel-desc">超好吃</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/corn-ham-scrambled-eggs" class="card">
            <img src="{% static 'image/Corn_ham_and_scrambled_eggs.jpg' %}" alt="Whole roasted chicken">
            <h3>玉米火腿炒蛋</h3>
            <p class="carousel-desc">很好吃</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/Korean_style_cold_seaweed_salad" class="card">
            <img src="{% static 'image/Korean_style_cold_seaweed_salad.jpg' %}" alt="Just a pigture">
            <h3>韓式涼拌海帶</h3>
            <p class="carousel-desc">涼拌海帶芽可是韓式小菜中不可或缺的一角喔</p>
        </a>
        <a href="http://127.0.0.1:8000/recipe/Cream_of_corn_soup" class="card">
            <img src="{% static 'image/Cream_of_corn_soup.jpg' %}" alt="What do u mean">
            <h3>玉米濃湯</h3>
            <p class="carousel-desc">玉米濃湯是常見的家常湯品，每個家庭都有自己的喜歡用料配比。</p>
        </a>
    </div>
</section>

<footer>
    <div class="container">
        <div class="logo">Ratatouille</div>
        <div class="social-icons">
            <a href="https://www.facebook.com/nigelngcomedy" class="fa fa-facebook"></a>
            <a href="mailto:chinpin2004@gmail.com" class="fa fa-google"></a>
            <a href="https://www.instagram.com/mrnigelng/" class="fa fa-instagram"></a>
            <a href="https://www.youtube.com/@mrnigelng" class="fa fa-youtube"></a>
        </div>
        <div class="links">
                <a href="{% url 'pageone' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contact' %}">Contact</a>
            </div>
        <div class="copyright">
            &copy; Ratatouille 2025. All rights reserved.
        </div>
    </div>
</footer>

</body>
</html>